{% extends "rivercureportal/base.html" %}
{% block title %} Create Contribution {% endblock %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}



{% block scripts %}

{% leaflet_js plugins="ALL" %}
{% leaflet_css plugins="ALL" %}
<script src="https://unpkg.com/georaster"></script>
<script src="https://unpkg.com/proj4"></script>
<script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
<script src="https://unpkg.com/chroma-js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
<script type='text/javascript' src={% static 'context/js/context.js' %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
<script src="{% static 'context/LeafletClustering/leaflet.markercluster.js' %}"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

<!-- Search function in map -->
<!-- https://github.com/perliedman/leaflet-control-geocoder -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>


<style>
    /* Silly fix for hiding the draw controls that were showing up by default on the map */
    .leaflet-draw-section {
        display: none;
    }

    /* TODO: Delete!!
    .fixed-centered-map-marker {
        background-image: url("https://img.icons8.com/color/48/000000/marker--v1.png");
        width: 50px;
        height: 48px;
        position: absolute;
        z-index: 20;
        left: calc(50% - 25px);
        top: calc(50% - 50px);
        transition: all 0.4s ease;
    }
    */
</style>


<script>

    

    {% comment %} document.addEventListener('DOMContentLoaded', () => {
        window.addEventListener("map:init", e => {
            const map = e.detail.map;   
            map.addControl(new L.Control.Fullscreen()); //add control to enable fullscreen
            
            MyFunctions.mode = 'view';
            MyFunctions.showMousePosition();
            MyFunctions.mouseMove(map, 'view');
            //visual tools
            map.on('dragstart', e => {
                e.target._container.style.cursor = 'grab';
            });
            map.on('dragend', e => {
                e.target._container.style.cursor = 'pointer';
            });
            /*
            MyFunctions.drawSensors(map, loadSensors());
            MyFunctions.domainMarkers = L.markerClusterGroup();
            MyFunctions.domainMarkers.addTo(map);
            map.layerscontrol.addOverlay(MyFunctions.domainMarkers, "Domain markers");
            MyFunctions.domainMarkers.bindTooltip("Boundary Line Point");
            MyFunctions.polygonsInit(map); //init the polygon storing system
            MyFunctions.boundariesInit(map); //init the boundaries variables

            MyFunctions.getContext('{{ api }}' + '{{ context.code }}', map);
            */
        });
    }); {% endcomment %}

    document.addEventListener('DOMContentLoaded', () => {
        window.addEventListener("map:init", e => {

            /*
            // TODO: Is this the best way to do things?
            // Add div where fixed marker is
            document.getElementById('id_observationplace-map').insertAdjacentHTML('beforebegin', '<div class="fixed-centered-map-marker"></div>');

            // Wrap previous div and div with map in a parent div
            var parentDiv = document.createElement('div')

            const div1 = document.querySelector();
            const div2 = document.querySelector();
            parentDiv.appendChild(div1);
            parentDiv.appendChild(div2);




            // element that will be wrapped
            var el = document.querySelector('div.wrap_me');

            // create wrapper container
            var wrapper = document.createElement('div');

            // insert wrapper before el in the DOM tree
            el.parentNode.insertBefore(wrapper, el);

            // move el into wrapper
            wrapper.appendChild(el);
            */





            console.log("Hi")
            const map = e.detail.map;
            console.log(e.detail.map);

            

            // Try to find the user's current location
            map.locate({setView: true, maxZoom: 17});

            var marker = L.marker([0,0]).addTo(map);
            // On success (of finding user's location)
            map.on('locationfound', function (e) {
                console.log("Hiiii")
                //var marker = L.marker(e.latlng).addTo(map); // {draggable:'false'}
                marker.setLatLng(e.latlng);
                console.log(e.latlng);
            });

            // On error (of finding user's location)
            map.on('locationerror', function (e) {
                // alert(e.message);
                marker.setLatLng([38.722252, -9.139337]); // Default location is Praca do Comercio in Lisbon!
                map.setZoom(17);
            });

            var lat = document.querySelector('#id_lat');
            var lng = document.querySelector('#id_lng');
            let lat_initial = lat.value == '' ? 0 : lat.value;
            let lng_initial = lng.value == '' ? 0 : lng.value;

            /*
            map.on('map:loadfield', function (e) {
                // Customize map for field
                console.log(e.field, e.fieldid);
                
            });
            */

            // Update position of the marker to be the center while the map is being moved
            map.on('move',function(e){
                marker.setLatLng(map.getCenter());
            });

            // Get latlng of center of the map (which is where the marker is fixed)
            map.on("moveend", function () {
                console.log(map.getCenter());
                marker.setLatLng(map.getCenter());

                lat.value = map.getCenter().lat;
                lng.value = map.getCenter().lng;
            });

            // Add search function to map
            // Using leaflet-control-geocoder (https://github.com/perliedman/leaflet-control-geocoder)
            L.Control.geocoder({
                defaultMarkGeocode: false
            }).on('markgeocode', function(e) {
                var bbox = e.geocode.bbox;
                console.log("bonjour");
                console.log(bbox);
                map.fitBounds(bbox);
                map.setZoom(17);
            }).addTo(map);

            /*
            map.on('move', function () {
                marker.setLatLng(map.getCenter());
                //console.log(map.getCenter());
            });
            //Dragend event of map for update marker position
            map.on('dragend', function(e) {
                var cnt = map.getCenter();
                var position = marker.getLatLng();
                lat = Number(position['lat']).toFixed(5);
                lng = Number(position['lng']).toFixed(5);
                //console.log(position);
                setLeafLatLong(lat, lng);
                
            });
            */

            /*
            var marker;
            map.on('click', function(e) {
                if(marker)
                    map.removeLayer(marker);
                console.log(e.latlng); // e is an event object (MouseEvent in this case)
                marker = L.marker(e.latlng).addTo(map);
                console.log("Hellooo")
            });
            */
        });
    })

</script>

{% endblock scripts %}



{% block content %}


<div class="content-section">
    <!-- Header -->
    <h1>{{ context_name }}</h1>
    <p class="font-weight-light">
        If you have observed an extreme weather situation in this geographical context, you may contribute to the RiverCure Portal by submitting
        a <b>contribution</b>, in which you must include the type of situation observed (flood, drought, etc), a description of what you saw,
        the date and place of this episode, and, optionally, any videos or images you have collected of the incident.
    </p>
    <p class="font-weight-light">
        For more information about RiverCure and contributions, please visit our <a href="{% url 'rivercure-about' %}">About</a> page.
    </p>
    <hr>

    <!-- Form -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form|crispy }}

        <button class="btn btn-outline-info" type="submit">Submit</button>
        <a class="btn btn-outline-secondary" href="{% url 'public-context-detail' context_code %}">Cancel</a>

    </form>
</div>

{% comment %} <div id="map-container" class="container">
    {% leaflet_map "my_map" %}
</div> {% endcomment %}

{% endblock content %}