{% extends "rivercureportal/base.html" %}
{% block title %} Contributions {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

{% endblock %}



{% block content %}

<!-- TODO: Intro/title -->
<div class="container">
    <div class="row">
        <h1>Contributions</h1>
    </div>
    <div class="row">
        <h5 class="font-weight-light">Here are the contributions for {{ context_name }}.</h5>
    </div>
</div>

<hr>

<!-- List of Contributions-->
<div class="container">
    <div class="row row-cols-3">
        {% for contribution in contributions %}
            <div class="col">
                <a href="{% url 'contribution-detail' contribution.pk %}">
                    <div class="card my-2" style="width: 18rem;">
                        <img src="" class="card-img-top" alt="Contribution image">
                        <div class="card-body">
                            <h5 class="card-title">{{ contribution.situationObserved|title }}</h5>
                            <h6 class="card-text">By: {{ contribution.createdBy }}</h6>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary card-contributions">Posted on {{ contribution.creationDateTime }}</small>
                        </div>            
                    </div>
                </a>
            </div>
        {% empty %}
            <p class="font-weight-light">There are no contributions yet.</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}