{% extends "rivercureportal/base.html" %}
{% load i18n %}
{% block title %} {% trans "Create Contribution" %} {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}



{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

{% leaflet_js plugins="ALL" %}
{% leaflet_css plugins="ALL" %}
<script src="https://unpkg.com/georaster"></script>
<script src="https://unpkg.com/proj4"></script>
<script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
<script src="https://unpkg.com/chroma-js"></script>
<script type='text/javascript' src={% static 'context/js/context.js' %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
<script src="{% static 'context/LeafletClustering/leaflet.markercluster.js' %}"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

<!-- Leaflet: Search function in map -->
<!-- https://github.com/perliedman/leaflet-control-geocoder -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<!-- Leaflet: Get current position control -->
<!-- https://github.com/domoritz/leaflet-locatecontrol -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.81.0/dist/L.Control.Locate.min.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.81.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

<style>
    /* Silly fix for hiding the draw controls that were showing up by default on the map. Eheh */
    .leaflet-draw-section {
        display: none;
    }

    .asteriskField {
        color: #17a2b8;
    }

    .word-color {
        color: #17a2b8;
    }

    .hidden {
        display: none;
    }
</style>


<script>

    function showDivs(divsToShow, divsToHide) {
        for (let div of divsToHide) {
            div.classList.add("hidden");
        }
        for (let div of divsToShow) {
            div.classList.remove("hidden");
        }
    }

    document.addEventListener('DOMContentLoaded', () => {

        // Flood
        var div_id_floating_objects_time = document.getElementById("div_id_floating_objects_time");
        var div_id_water_height = document.getElementById("div_id_water_height");
        // Tornado
        var div_id_velocity = document.getElementById("div_id_velocity");
        var div_id_tornado_type = document.getElementById("div_id_tornado_type");

        // By default, 'Flood' is selected
        showDivs([div_id_floating_objects_time, div_id_water_height], [div_id_velocity, div_id_tornado_type]);
        console.log("hid");

        document.getElementById("id_situationObserved").addEventListener("change", (event) => {
            situationObserved = event.target.value;

            if (situationObserved == "FLOOD") {
                showDivs([div_id_floating_objects_time, div_id_water_height], [div_id_velocity, div_id_tornado_type]);
            } else if (situationObserved == "TORNADO") {
                showDivs([div_id_velocity, div_id_tornado_type], [div_id_floating_objects_time, div_id_water_height]);
            } else {
                showDivs([], [div_id_floating_objects_time, div_id_water_height, div_id_velocity, div_id_tornado_type]);
            }
        });


        window.addEventListener("map:init", e => {

            const map = e.detail.map;
            
            // 1. Center map according to domain
            const context_json = {{context_json|safe}};
            const geomExternalBoundary = context_json["0"]["fields"]["geomExternalBoundary"];
            //if (geomExternalBoundary !== null) {
            // Draw domain and center map
            let domain = L.polygon(MyFunctions.coordStringToArray(geomExternalBoundary), {
                color: '#C0C0C0',
            });
            map.fitBounds(domain.getBounds());
            domain.addTo(map);
            //}
            
            

            var lat = document.querySelector('#id_lat');
            var lng = document.querySelector('#id_lng');
            let lat_initial = lat.value == '' ? 0 : lat.value;
            let lng_initial = lng.value == '' ? 0 : lng.value;

            // Draw marker in center of map
            var marker = L.marker([0,0]).addTo(map);
            marker.setLatLng(map.getCenter());
            // And set the lat and lang as the markers position (aka map center)
            lat.value = map.getCenter().lat;
            lng.value = map.getCenter().lng;

            // Update position of the marker to be the center while the map is being moved
            map.on('move',function(e){
                marker.setLatLng(map.getCenter());
            });

            // Get latlng of center of the map (which is where the marker is fixed)
            map.on("moveend", function () {
                marker.setLatLng(map.getCenter());

                lat.value = map.getCenter().lat;
                lng.value = map.getCenter().lng;
            });

            // Add search function to map
            // Using leaflet-control-geocoder (https://github.com/perliedman/leaflet-control-geocoder)
            L.Control.geocoder({
                defaultMarkGeocode: false
            }).addTo(map);

            // Add current position control to map
            L.control.locate({
                initialZoomLevel: 17,
                flyTo: true,
                drawCircle: false,
                drawMarker: true
            }).addTo(map);

            // -- Add control that centers map back to Context
            L.Control.CenterContext = L.Control.extend({
                onAdd: function(map) {
                    // Create the control
                    var mainDiv = L.DomUtil.create('div', 'leaflet-bar');

                    var btn = L.DomUtil.create('a', 'leaflet-bar-part leaflet-bar-part-single', mainDiv);
                    btn.id = "center-context-control";
                    btn.title = "Re-center map back to Context";
                    btn.role = "button";

                    var icon = L.DomUtil.create('i', 'bi bi-crosshair', btn);
                    icon.style = "font-size: 1.3em;"

                    // When clicking the control, re-center map back to Context
                    L.DomEvent.on(
                        mainDiv,
                        'click',
                        function(e) {
                            map.fitBounds(domain.getBounds());
                        }
                    );

                    return mainDiv;
                },
                
                onRemove: function(map) {
                    // Nothing to do here
                }
            });
            
            L.control.CenterContext = function(opts) {
                return new L.Control.CenterContext(opts);
            }
            
            L.control.CenterContext({ position: 'topleft' }).addTo(map);

        });
    });

</script>

{% endblock scripts %}



{% block content %}


<h1>{{ context.Name }} </h1>
<p><strong>{% trans "Organization" %}:</strong> {{ context.organization.name }}</p>
<hr>


<div class="card p-4 mb-4">
    <!-- Header -->
    <p class="font-weight-light" align="justify">{% blocktrans %}If you have observed an extreme weather situation in this geographical context, you may contribute to the RiverCure Portal by submitting a <span class='word-color'>Contribution</span>, in which you must include the type of situation observed (flood, drought, etc), a description of what you saw, the date and place of this episode, and, optionally, any videos or images you have collected of the incident.{% endblocktrans %}</p>
    {% url 'rivercure-about' as about_url %}
    <p class="font-weight-light" align="justify">{% blocktrans with about='<a href="'|add:about_url|add:'">About</a>'|safe %}For more information about the RiverCure Portal and Contributions, please visit the {{about}} page, or the <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.{% endblocktrans %}</p>
    <hr>

    <!-- Form -->
    <form method="POST" enctype="multipart/form-data" id="contributionForm">
        {% csrf_token %}

        <!-- Main data -->
        {{ form|crispy }}

        <!-- Confirm Modal Button-->
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#confirmModal">
            {% trans "Submit" %}
        </button>

        <a class="btn btn-outline-secondary" href="{% url 'public-context-detail' context.code %}">{% trans "Cancel" %}</a>

    </form>
    
    <!-- Confirm Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">{% trans "Submit Contribution" %} {{contribution.pk}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="justify">
                        {% trans "Are you sure you want to submit this Contribution? Make sure the information is <span class='word-color'>correct</span>!" %}
                    </p>
                    <p class="justify">
                        {% trans "After submission, your Contribution will await <span class='word-color'>validation</span>, which will be performed by a RiverCure Moderator." %}
                    </p>
                    <p class="justify">{% blocktrans %}To read more about Contributions and the Validation process, please visit the <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.{% endblocktrans %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary my-3 ml-3" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button class="btn btn-info my-3 mr-3" type="submit" form="contributionForm">{% trans "Confirm" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}