{% extends "rivercureportal/base.html" %}
{% block show_messages %}{% endblock %} <!-- As seen in: https://stackoverflow.com/questions/7768165/how-to-override-django-base-template -->
{% block title %} Contribution {{ contribution }} {% endblock %}
{% load leaflet_tags %}
{% load auth_extras %}
{% load my_tags %}
{% load static %}

{% block scripts %}


<!-- Leaflet -->
{% leaflet_js plugins="ALL" %}
{% leaflet_css plugins="ALL" %}
<script src="https://unpkg.com/georaster"></script>
<script src="https://unpkg.com/proj4"></script>
<script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
<script src="https://unpkg.com/chroma-js"></script>
<script type='text/javascript' src={% static 'context/js/context.js' %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
<script src="{% static 'context/LeafletClustering/leaflet.markercluster.js' %}"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

<script>

    document.addEventListener('DOMContentLoaded', () => {
        window.addEventListener("map:init", e => {

            const map = e.detail.map;
            console.log(e.detail.map);

            var lat = {{ contribution.get_lat }};
            var long = {{ contribution.get_long }};

            map.setView([lat, long], 17);
            L.marker([lat, long]).addTo(map);
            
        });
    })

</script>


{% endblock %}






{% block content %}
<style>
    .my-report-modal-body {
        padding: 16px;
    }

    .validation-card {
        border: 0px;
    }

    .validation-card:hover {
        transform: none;
        box-shadow: none;
    }

    /* For the horizontal scroll carousel */
    .scrolling-wrapper{
        overflow-x: auto;
    }
</style>


<!-- Header -->
<div class="row">
    <div class="col">
        <h1 class="mt-2">{{ contribution.context.Name }} context </h1>
        <p><strong>Organization:</strong> <em>{{ contribution.context.organization }}</em></p>
        <hr>
    </div>
</div>


<!-- See if there is a success message -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}



<!-- Meta information section -->
<div class="content-section">
    <!-- Information about user and location -->
    <h2 class="mt-2">Contribution {{ contribution }}</h2>
    <hr>

    <p class="font-weight-light"><strong>Posted on:</strong> {{ contribution.creationDateTime }}</p>
    <p class="font-weight-light"><strong>Posted by:</strong> {{ contribution.createdBy }}</p>
    {% comment %} {% if contribution.contextEvent is not Null %} {% endcomment %}
    {% if contribution.contextEvent %}
    <p class="font-weight-light"><strong>Event:</strong> {{ contribution.contextEvent.Name }}</p>
    {% endif %}

    {% if user == contribution.createdBy or user.is_superuser or user|has_group:"Admin" or isContextOrOrgManager or isMod %}
        <hr>
        <p class="font-weight-light"><strong>State:</strong> <span class="text-{{contribution.state|get_state_color}}">{{ contribution.state|title }}</span></p>
        {% if contribution.last_validation_datetime %}<p class="font-weight-light"><strong>Last validated on:</strong> {{ contribution.last_validation_datetime }}</p>{% endif %}
        {% if contribution.last_validated_by %}<p class="font-weight-light"><strong>Last validated by:</strong> {{ contribution.last_validated_by }}</p>{% endif %}
        {% if contribution.last_rejection_reason %}<p class="font-weight-light"><strong>Rejection reason:</strong> {{ contribution.last_rejection_reason }}</p>{% endif %}
    {% endif %}

    <a class="btn btn-secondary mb-2" href="{% url 'public-context-detail' contribution.context.code %}">See Context</a>

    <!-- For Moderators only-->
    {% if isMod %}
        <a class="btn btn-secondary mb-2" href="{% url 'moderator-context-contribution-list' contribution.context.code %}">Back to Contribution list</a>
        {% if contribution.state == 'PENDING' %}
            <!-- Accept Modal Button-->
            <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#acceptingModal">
                Accept
            </button>
            <!-- Accept Modal -->
            <div class="modal fade" id="acceptingModal" tabindex="-1" role="dialog" aria-labelledby="acceptingModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acceptingModalLabel">Accept Contribution {{contribution.pk}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="justify">Are you sure you want to mark this Contribution as <span class='text-success'>Accepted</span>?
                                <span class='font-weight-bold'>This action is irreversible!</span>
                            </p>
                            <p class="justify">
                                To read more about Contributions and the Moderation process, please visit the <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary my-3 ml-3" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-success my-3 mr-3" href="{% url 'moderator-contribution-accept' contributionId=contribution.pk %}">Confirm</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Reject Modal Button-->
            <button type="button" class="btn btn-danger mb-2" data-toggle="modal" data-target="#rejectionModal">
                Reject
            </button>
            
            <!-- Reject Modal -->
            <div class="modal fade" id="rejectionModal" tabindex="-1" role="dialog" aria-labelledby="rejectionModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="rejectionModalLabel">Reject Contribution {{contribution.pk}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="justify">Are you sure you want to mark this Contribution as <span class='text-danger'>Rejected</span>?
                                <span class='font-weight-bold'>This action is irreversible!</span>
                            </p>
                            <p class="justify">
                                To read more about Contributions and the Moderation process, please visit the <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
                            </p>
                            <!-- Form -->
                            <hr>
                            <!-- TODO: Put form here, instead of doing this 'include' -->
                            {% include "contributions/rejection_reason.html" %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary my-3 ml-3" data-dismiss="modal">Cancel</button>
                            <!-- As seen in: https://dev.to/dailydevtips1/submit-button-outside-the-form-2m6f -->
                            <button type="submit" class="btn btn-danger my-3 mr-3" form="rejectionForm">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- If it's a validated Contribution, see if there is another Contribution waiting in queue to be validated -->
        {% else %}
            {% if nextContribution %}
                <a class="btn btn-warning mb-2" href="{% url 'contribution-detail' nextContribution.pk %}" style="float: right;">Validate Next Contribution</a>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if user == contribution.createdBy %}
        <a class="btn btn-danger mb-2" href="{% url 'contribution-delete' contribution.pk %}">Delete Contribution</a>
    {% endif %}
</div>


<!-- Photo section -->
{% if contribution_media_list %}
    <div class="content-section">        
        <!-- Image slideshow -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                {% for media in contribution_media_list %}

                    <!-- Image -->
                    {% if media.is_video_or_image == "image" %}

                        <div class="carousel-item {{forloop.first|is_active}}">
                            <a data-toggle="modal" data-target="#imageModal{{ forloop.counter }}">
                                <img src="{{MEDIA_URL}}{{ media.file }}" class="d-block w-100">
                            </a>
                        </div>

                    <!-- Video -->
                    {% elif media.is_video_or_image == "video" %}

                        <div class="carousel-item {{forloop.first|is_active}}">
                            <div class="embed-responsive embed-responsive-16by9">
                                <video controls>
                                    <source src="{{MEDIA_URL}}{{media.file}}" type="{{media.get_type}}">
                                </video>
                            </div>
                        </div>

                    <!-- Something else? -->
                    {% else %}
                        <p>Error!</p> <!-- TODO: What to do here? -->
                    {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="imageModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="imageModalTitle" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                {% comment %} <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div> {% endcomment %}

                                <div class="modal-body">
                                    <img src="{{MEDIA_URL}}{{ media.file }}" class="d-block w-100">
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
                
    </div>
{% endif %}


<!-- Map section -->
<div class="content-section">
    
    
    <div class="row">
        
        <!-- Map -->
        <div class="col-8 border-right">
            <div id="map-container" class="container">
                {% leaflet_map "my_map" %}
            </div>
        </div>
        
        <!-- Information about contribution itself -->
        <div class="col-4">
            <h3 class="mt-2">Observation Details</h3>
            <hr>
            
            <p class="font-weight-light"><strong>Observed on:</strong> {{ contribution.observationDate }}</p>
            <p class="font-weight-light"><strong>Situation:</strong> {{ contribution.situationObserved|title }}</p>
            <p class="font-weight-light" align="justify"><strong>Description:</strong> {{ contribution.observationDescription }}</p>

            <hr>
            {% comment %} <p class="font-weight-light"><strong>Address:</strong></p> {% endcomment %}
            <h4 class="mt-2">Location</h4>
            <p class="font-weight-light"><strong>Latitude:</strong> {{ contribution.get_lat }}</p>
            <p id="id_long" class="font-weight-light"><strong>Longitude:</strong> {{ contribution.get_long }}</p>

        </div>

    </div>
</div>

    

{% if contribution.state == "ACCEPTED" %}
    <!-- Report Modal Button-->
    <button type="button" class="btn btn-danger mb-2" data-toggle="modal" data-target="#reportModal">
        Report
    </button>

    <!-- Report Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel"><span class='text-danger'>Report Contribution {{contribution.pk}}</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="justify">Are you sure you want to <span class='text-danger'>report</span> this Contribution?</p>
                    <p class="justify">Make sure you are following the <a href="#">Platform Guidelines</a>.</p>
                    <p class="justify">
                        To read more about reporting Contributions and the Moderation process, please visit the <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
                    </p>
                    <hr>
                    <!-- Form -->
                    <form action="{% url 'contribution-report' contribution.pk %}" method="POST" id="reportForm">
                        {% csrf_token %}
                    
                        <div class="form-group m-2"> <!-- style="float: left;"-->
                            <label for="id_reason">Please write the <span class='font-weight-bold'>reason</span> why you report this Contribution.</label>
                            {{ report_form.reason }}
                        </div>
                    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary my-3 ml-3" data-dismiss="modal">Cancel</button>
                    <!-- As seen in: https://dev.to/dailydevtips1/submit-button-outside-the-form-2m6f -->
                    <button type="submit" class="btn btn-danger my-3 mr-3" form="reportForm">Confirm</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}


<!-- Validation history section -->
{% if validations %}
    {% if isMod or isContextOrOrgManager or user|has_group:"Admin" %}
        <div class="content-section">
            <div class="container-fluid">
                <div class='mt-2'>
                    <h2>Validation History</h2>
                    <p class="subtitle">This is the history of the states this Contribution has been in, from most recent to oldest. Scroll to see more, and click on one to see details.</p>
                    <hr>
                </div>

                <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                    {% for validation in validations %}
                        <div class="col-4">
                            <!-- Validation Card -->
                            <div class="card validation-card" style="height: 100%;">
                                <div class="card-body d-flex flex-column">
                                    <button type="button" class="btn btn-{{validation.state|get_state_color}} mx-auto w-25" data-toggle="modal" data-target="#validationModal-{{ forloop.counter }}">
                                        {% if validation.state == 'PENDING' %}
                                            ?
                                        {% elif validation.state == 'ACCEPTED' %}
                                            <span>&#10003;</span>
                                        {% else %}
                                            <span>&#10539;</span>
                                        {% endif %}
                                    </button>
                                    <p class="card-text mx-auto mt-2"><small class="text-muted">{{ validation.validation_datetime }}</small></p>
                                    {% if forloop.first %}
                                        <p class="card-text mx-auto mt-2 font-weight-bold">Latest Validation</p>
                                    {% endif %}
                                    {% if forloop.last %}
                                        <p class="card-text mx-auto mt-2 font-weight-bold">User Submission</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Read Validation Modal -->
                        <div class="modal fade" id="validationModal-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="validationModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="validationModalLabel">Contribution {{contribution.id}} -  <span class="text-{{validation.state|get_state_color}}">{{validation.state|title}}</span></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body my-report-modal-body">
                                        <p class="font-weight-light"><strong>Validated on:</strong> {{ validation.validation_datetime }}</p>
                                        <p class="font-weight-light"><strong>Validated by:</strong> {{ validation.validated_by }}</p>
                                        {% if validation.rejection_reason %}
                                            <hr>
                                            <p class="font-weight-light"><strong>Rejection reason:</strong></p>
                                            <p class="font-weight-light">{{ validation.rejection_reason }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary my-3 mr-3" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}


<!-- Reports section -->
{% if reports %}
    <!-- Only Context Mod, Org or Contexts Managers, and Admin can see this section -->
    {% if isMod or isContextOrOrgManager or user|has_group:"Admin" %}
        <div class="content-section">
            <div class="container-fluid">
                <div class='mt-2'>
                    <h2>Reports</h2>
                    <p class="subtitle">Reports made by users. Scroll to see more, and click on one to see details.</p>
                    <hr>
                </div>
            
                <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                    {% for report in reports %}
                        <div class="col-4">
                            <!-- Report Card -->
                            <div class="card contribution-card" style="height: 100%;">
                                <div class="card-body d-flex flex-column">
                                    <p class="card-text">{{ report.reason|slice:":100" }} {% if report.reason|length > 100 %}...{% endif %}</p>
                                    <div class="mt-auto">
                                        <p class="card-text"><small class="text-muted">Reported by {{ report.reported_by }}</small></p>
                                        <p class="card-text"><small class="text-muted">Reported on {{ report.report_datetime }}</small></p>
                                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#readReportModal">Read</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Read Report Modal -->
                        <div class="modal fade" id="readReportModal" tabindex="-1" role="dialog" aria-labelledby="readReportModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="readReportModalLabel">Reported by {{ report.reported_by }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body my-report-modal-body">
                                        <p class="justify">{{report.reason}}</p>
                                        <p class="card-text"><small class="text-muted">Reported on {{ report.report_datetime }}</small></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary my-3 mr-3" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    {% endif %}
{% endif %}


{% endblock content %}