{% extends "rivercureportal/base.html" %}
{% block title %} Contribution {% endblock %}
{% load leaflet_tags %}
{% load auth_extras %}
{% load static %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

<!-- Leaflet -->
{% leaflet_js plugins="ALL" %}
{% leaflet_css plugins="ALL" %}
<script src="https://unpkg.com/georaster"></script>
<script src="https://unpkg.com/proj4"></script>
<script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
<script src="https://unpkg.com/chroma-js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
<script type='text/javascript' src={% static 'context/js/context.js' %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
<script src="{% static 'context/LeafletClustering/leaflet.markercluster.js' %}"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

<script>

    document.addEventListener('DOMContentLoaded', () => {
        window.addEventListener("map:init", e => {

            const map = e.detail.map;
            console.log(e.detail.map);

            var lat = {{ contribution.get_lat }};
            var long = {{ contribution.get_long }};

            map.setView([lat, long], 17);
            L.marker([lat, long]).addTo(map);
            
        });
    })

</script>


{% endblock %}






{% block content %}

<!-- Header -->
<div class="row">
    <div class="col">
        <h1>{{ contribution.context.Name }} context </h1>
        <p><strong>Organization:</strong> <em>{{ contribution.context.organization }}</em></p>
        <hr>
    </div>
</div>

<div class="container">

    <!-- Meta information section -->
    <div class="content-section">
        <div row="row">
            <div class="col">
                <!-- Information about user and location -->
                <h2 class="mt-2">Contribution {{ contribution }}</h2>
                <hr>

                <p class="font-weight-light"><strong>Posted on:</strong> {{ contribution.creationDateTime }}</p>
                <p class="font-weight-light"><strong>Posted by:</strong> {{ contribution.createdBy }}</p>
                <p class="font-weight-light"><strong>Context:</strong> {{ contribution.context.Name }}</p>
                {% if contribution.contextEvent is not Null %}
                    <p class="font-weight-light"><strong>Event:</strong> {{ contribution.contextEvent.Name }}</p>
                {% endif %}

                {% if user == contribution.createdBy or user.is_superuser or user|has_group:"Admin" or isContextOrOrgManager %}
                    {% if contribution.state == 'PENDING' %}
                        <p class="font-weight-light"><strong>State:</strong> <span class="text-warning">{{ contribution.state|title }}</span></p>
                    {% elif contribution.state == 'ACCEPTED' %}
                        <p class="font-weight-light"><strong>State:</strong> <span class="text-success">{{ contribution.state|title }}</span></p>
                        <p class="font-weight-light"><strong>Validated on:</strong> {{ contribution.validationDateTime }}</p>
                        <p class="font-weight-light"><strong>Validated by:</strong> </p>
                    {% else %} {# contribution.state == 'REJECTED' #}
                        <p class="font-weight-light"><strong>State:</strong> <span class="text-danger">{{ contribution.state|title }}</span></p>
                        <p class="font-weight-light"><strong>Validated on:</strong> {{ contribution.validationDateTime }}</p>
                        <p class="font-weight-light"><strong>Validated by:</strong> {{ contribution.validatedBy }}</p>
                    {% endif %}
                {% endif %}

                <a class="btn btn-secondary mb-2" href="{% url 'public-context-detail' contribution.context.code %}">See Context</a>
            </div>
        </div>
    </div>

    <!-- Photo section -->
    {% if contribution_media_list %}
        <div class="content-section">        

            <div class="row">

                <!-- Image slideshow -->
                

                    <div class="col">
                        
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                {% for media in contribution_media_list %}

                                    <!-- 1st element of the list (must have 'active' class) -->
                                    {% if forloop.first%}

                                        <!-- Image -->
                                        {% if media.is_video_or_image == "image" %}

                                            <div class="carousel-item active">
                                                <a data-toggle="modal" data-target="#imageModal{{ forloop.counter }}">
                                                    <img src="{{MEDIA_URL}}{{ media.file }}" class="d-block w-100">
                                                </a>
                                            </div>

                                        <!-- Video -->
                                        {% elif media.is_video_or_image == "video" %}

                                            <div class="carousel-item active">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <video controls>
                                                        <source src="{{MEDIA_URL}}{{media.file}}" type="{{media.get_type}}">
                                                    </video>
                                                </div>
                                            </div>

                                        <!-- Something else? -->
                                        {% else %}
                                            <p>Error!</p> <!-- TODO: What to do here? -->
                                        {% endif %}


                                    <!-- Rest of list elements -->
                                    {% else %}

                                        <!-- Image -->
                                        {% if media.is_video_or_image == "image" %}

                                            <div class="carousel-item">
                                                <a data-toggle="modal" data-target="#imageModal{{ forloop.counter }}">
                                                    <img src="{{MEDIA_URL}}{{ media.file }}" class="d-block w-100">
                                                </a>
                                            </div>

                                        <!-- Video -->
                                        {% elif media.is_video_or_image == "video" %}

                                            <div class="carousel-item active">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <video controls>
                                                        <source src="{{MEDIA_URL}}{{media.file}}" type="{{media.get_type}}">
                                                    </video>
                                                </div>
                                            </div>
                                        <!-- Something else? -->
                                        {% else %}
                                            <p>Error!</p> <!-- TODO: What to do here? -->
                                        {% endif %}

                                    {% endif %}

                                    <!-- Modal -->
                                    <div class="modal fade" id="imageModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="imageModalTitle" aria-hidden="true">

                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                {% comment %} <div class="modal-header">
                                                    <h5 class="modal-title" id="imageModalTitle">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div> {% endcomment %}

                                                <div class="modal-body">
                                                    <img src="{{MEDIA_URL}}{{ media.file }}" class="d-block w-100">
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    
                
                
            </div>

        </div>
    {% endif %}


    <!-- Map section -->
    <div class="content-section">
        
        
        <div class="row">
            
            <!-- Map -->
            <div class="col-8 border-right">
                <div id="map-container" class="container">
                    {% leaflet_map "my_map" %}
                </div>
            </div>
            
            <!-- Information about contribution itself -->
            <div class="col-4">
                <h3 class="mt-2">Details</h3>
                <hr>
                
                <p class="font-weight-light"><strong>Observed on:</strong> {{ contribution.observationDate }}</p>
                <p class="font-weight-light"><strong>Situation:</strong> {{ contribution.situationObserved|title }}</p>
                <p class="font-weight-light" align="justify"><strong>Description:</strong> {{ contribution.observationDescription }}</p>

                <hr>
                <p class="font-weight-light"><strong>Address:</strong></p>
                <p class="font-weight-light"><strong>Latitude:</strong> {{ contribution.get_lat }}</p>
                <p id="id_long" class="font-weight-light"><strong>Longitude:</strong> {{ contribution.get_long }}</p>

            </div>

        </div>
    </div>
    
</div>


{% endblock content %}