{% extends "rivercureportal/base.html" %}
{% block title %} My Contributions {% endblock %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load static %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

{% endblock %}



{% block content %}

<h1> My Contributions </h1>
<p class="font-weight-light" align="justify">On this page you can consult the contributions you have submitted to the RiverCure Portal.</p>
<hr>

<!-- Filter -->
<!-- TODO: Apply Bootstrap's grid system -->
<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#filter-menu">Filter</button>
<div id="filter-menu" class="collapse card card-body">
    <form method="get">
        {{ filter.form |crispy }}
        <button type="submit" class="btn btn-outline-info">Apply</button>
    </form>
</div>

<!-- List of Contributions-->
<div class="container">
    <div class="row row-cols-3">
        {% for contribution in contributions %}
            <div class="col">
                <a href="{% url 'contribution-detail' contribution.pk %}">
                    <div class="card my-2" style="width: 18rem;">
                        <img src="" class="card-img-top" alt="Contribution image">
                        <div class="card-body">
                            <h5 class="card-title">{{ contribution.situationObserved|title }}</h5>
                            <h6 class="card-text">By: {{ contribution.createdBy }}</h6>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary card-contributions">Posted on {{ contribution.creationDateTime }}</small>
                        </div>            
                    </div>
                </a>
            </div>
        {% empty %}
            <p class="font-weight-light">There are no contributions yet.</p>
        {% endfor %}
    </div>
</div>

<!-- Pagination -->
<!-- TODO: Apply Bootstrap's grid system -->
<div class="row">
    <div class="col">
        {% if is_paginated %}
            <nav aria-label="Page navigation" class="d-flex justify-content-center pt-3">
                <ul class="pagination">
                    {% if page_obj.has_previous and page_obj.number != 2 %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' 1 %}" tabindex="-1" aria-disabled="true">First Page</a></li>
                    {% endif %}

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
                    
                    <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
                    {% endif %}

                    {% if page_obj.paginator.num_pages != page_obj.number and page_obj.paginator.num_pages != page_obj.next_page_number %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">Last Page</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>

{% endblock content %}