{% load crispy_forms_tags %}

<form action="{% url 'moderator-contribution-reject' contribution.pk %}" method="POST" id="rejectionForm">
    {% csrf_token %}

    <div class="form-group m-2"> <!-- style="float: left;"-->
        <label for="id_rejectionReason">Please write the <span class='font-weight-bold'>reason</span> why you reject this Contribution.</label>
        {% comment %} <p><span class='font-weight-bold'>Rejection Reason</span></p> {% endcomment %}
        {{ form.rejectionReason }}
    </div>


    {% comment %} <button class="btn btn-outline-info" type="submit">Submit</button>
    <a class="btn btn-outline-secondary" href="#">Cancel</a> {% endcomment %}




    {% comment %} <div class="m-2" style="float: right;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger">Confirm</button>
    </div> {% endcomment %}



    {% comment %} <input type="submit" value="Submit"> {% endcomment %}
    {% comment %} <a class="btn btn-danger" href="#" type="submit">Reject</a> {% endcomment %}
</form>