{% extends "rivercureportal/base.html" %}
{% block title %} Event {{ event.context.Name }} - Create Challenge {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

<style>
    .asteriskField {
        color: #17a2b8;
    }

    .word-color {
        color: #17a2b8;
    }
</style>

{% endblock scripts %}

<!-- TODO: This page is linked to the concept of Event from RCP.
     This means it isn't independent, and, so, this 'Challenges'
     package isn't either. This means I should change this idea here. -->


{% block content %}


{% if event %}
    <h1>{{ event.context.Name }} Context </h1>
    <h2>'{{ event.Name }}' Event</h2>
    <p><strong>Organization:</strong> <em>{{ event.context.organization }}</em></p>
{% else %}
    <h1>{{ challenge.event.context.Name }} Context </h1>
    <h2>'{{ challenge.event.Name }}' Event</h2>
    <p><strong>Organization:</strong> <em>{{ challenge.event.context.organization }}</em></p>
{% endif %}
<hr>


<div class="content-section">
    <!-- Header -->
    <p class="font-weight-light" align="justify">
        For more information about RiverCure and Challenges, please visit the <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
    </p>
    <hr>

    <!-- Form -->
    <form method="POST" enctype="multipart/form-data" id="challengeForm">
        {% csrf_token %}

        {{ form|crispy }}

        <!-- Confirm Modal Button-->
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#confirmModal">
            Submit
        </button>

        {% if event %}
            <a class="btn btn-outline-secondary" href="{% url 'event-detail' event.context.code event.id %}">Cancel</a>
        {% else %}
            <a class="btn btn-outline-secondary" href="{% url 'challenge-detail' challenge.id %}">Cancel</a>
        {% endif %}

    </form>
    
    <!-- Confirm Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Create Challenge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="justify">
                        Are you sure you want to create this <span class='word-color'>Challenge</span>?
                    </p>
                    <p class="justify">
                        To read more about Challenges, please visit the <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary my-3 ml-3" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-info my-3 mr-3" type="submit" form="challengeForm">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}