{% extends "rivercureportal/base.html" %}
{% block title %} Challenge "{{ challenge.title }}"" {% endblock %}
{% load auth_extras %}
{% load my_tags %}
{% load static %}


{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />
{% endblock scripts %}





{% block content %}

<!-- Header -->
<div class="row">
    <div class="col">
        <h1 class="mt-2">{{ challenge.event.context.Name }} context </h1>
        <p><strong>Organization:</strong> <em>{{ challenge.event.context.organization }}</em></p>
        <hr>
    </div>
</div>

<!-- Challenge Header -->
<div class="my-3">

    <div class="row mx-0 my-contribution-detail-meta-info-card">
        <div class="col">
            <h2 class="my-3">Challenge "{{ challenge.title|title }}" - Questions</h2>
            <hr>
            <a class="btn btn-info mb-3" href="#"><i class="bi bi-plus"></i> Add Question</a>
        </div>
    </div>

</div>


{% for question in questions %}
    <div class="my-3">
        <div class="row mx-0 my-contribution-detail-meta-info-card">
            <div class="col my-3">

                    <h3>Q: {{question.content}}</h3>
                    <hr>
                    <p>Answer: {{question.expected_answer}}</p>
                    <p>Explanation: {{question.explanation}}</p>
                    <hr>
                    <a class="btn btn-info" href="#"><i class="bi bi-pencil"></i> Edit</a>
                    <a class="btn btn-danger" href="#"><i class="bi bi-trash"></i> Delete</a>

            </div>
        </div>
    </div>
{% endfor %}

<!-- Footer (Bottom Buttons) -->
<div class="row my-3 mx-0 my-contribution-detail-meta-info-card my-contribution-detail-footer">
    <div class="col">
        <!-- See Challenge -->
        <a class="btn btn-secondary my-3" href="{% url 'challenge-detail' challenge.id %}">See Challenge</a>
        
    </div>
</div>


{% endblock content %}