{% extends "rivercureportal/base.html" %}
{% block title %} Challenge "{{ challenge.title }}"" {% endblock %}
{% load auth_extras %}
{% load my_tags %}
{% load static %}


{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />
{% endblock scripts %}





{% block content %}

<!-- Header -->
<div class="row">
    <div class="col">
        <h1 class="mt-2">{{ challenge.event.context.Name }} context </h1>
        <p><strong>Organization:</strong> <em>{{ challenge.event.context.organization }}</em></p>
        <hr>
    </div>
</div>

<!-- Challenge Header -->
<div class="my-3">

    <div class="row mx-0 my-contribution-detail-meta-info-card-top">
        <div class="col">
            <h2 class="mt-3">Challenge "{{ challenge.title|title }}"</h2>
            <hr>
            <p class="font-weight-light"><strong>Event:</strong> {{ challenge.event.Name|title }} </p>
            <p class="font-weight-light"><strong>State:</strong> {{ challenge.state|title }} </p>
            <p class="font-weight-light"><strong>Visibility:</strong> {% if challenge.is_public %}Public{% else %}Organization{% endif %} </p>
            <p class="font-weight-light"><strong>Difficulty:</strong> <span class="badge badge-info">{{ challenge.difficulty_level|title }}</span></p>
        </div>
    </div>

    <!-- Middle (footer) with: Participate, See Participation -->
    <!-- + summary of participation details (score, etc ) -->

    
    <!-- Footer -->
    <!-- This is for Event Manager of this Context + Platform Admin -->
    <div class="py-2 px-4 my-contribution-detail-footer my-contribution-detail-bottom">
        
        <!-- Buttons about Challenge -->
        {% if canManage %}
            <!-- Information -->
            <p class="font-weight-light justify mt-2">Created on {{ challenge.creation_datetime }} by <span class="text-info">{{ challenge.created_by }}</span></p>
            <hr>


            <!-- Edit -->
            <a class="btn btn-info" href="{% url 'challenge-update' challenge.id %}" role="button"><i class="bi bi-pencil"></i> Edit</a>


            <!-- Publish -->
            {% if challenge.can_publish %}
                <!-- Publish Modal Button-->
                <button type="button" class="my-2 btn btn-success" data-toggle="modal" data-target="#publishModal">
                    <i class="bi bi-check-circle"></i> Publish
                </button>
                <!-- Publish Modal -->
                <div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="publishModalLabel">Publish Challenge "{{challenge.title}}"</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="justify">
                                    Are you sure you want to <span class="text-success">publish</span> this Challenge? Once published, the Challenge will be available for <span class='font-weight-bold'>everyone</span> to see!
                                </p>
                                <p class="justify">
                                    To read more about Challenges, please visit the <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary my-3 ml-3" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-success my-3 mr-3" href="#">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}


            <!-- Archive -->
            {% if challenge.can_archive %}
                <!-- Archive Modal Button-->
                <button type="button" class="my-2 btn btn-warning" data-toggle="modal" data-target="#archiveModal">
                    <i class="bi bi-archive"></i> Archive
                </button>
                <!-- Archive Modal -->
                <div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="archiveModalLabel">Archive Challenge {{challenge.title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="justify">
                                    Are you sure you want to <span class="text-warning">archive</span> this Challenge? Once archived, the Challenge will <span class='font-weight-bold'>no longer be available</span> to users.
                                </p>
                                <p class="justify">
                                    To read more about Challenges, please visit the <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary my-3 ml-3" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-warning my-3 mr-3" href="#">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}


            <!-- Delete -->
            {% if challenge.can_delete %}
                <a class="my-2 btn btn-danger" href="{% url 'challenge-delete' challenge.id %}" ><i class="bi bi-trash"></i> Delete</a>
            {% endif %}

        {% endif %}

    </div>
</div>

<!-- Participate + Questions -->
<div class="my-3">
    <div class="row mx-0 my-contribution-detail-meta-info-card">
        <div class="col my-3">

            <div class="d-flex flex-column">
                <div>
                    <a class="btn btn-info" href="#"><i class="bi bi-controller"></i> Participate</a>
                    <a class="btn btn-info" href="#"><i class="bi bi-activity"></i> My Participation(s)</a>
                </div>

                {% if canManage %}
                <div>
                    <hr>
                </div>

                <div>
                    <a class="btn btn-info" href="#"><i class="bi bi-pencil"></i> Manage Questions</a>
                    <a class="btn btn-info" href="#"><i class="bi bi-clipboard-data"></i> See Participations</a>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>

<!-- Footer (Bottom Buttons) -->
<div class="row my-3 mx-0 my-contribution-detail-meta-info-card my-contribution-detail-footer">
    <div class="col">
        <!-- See Event -->
        <a class="btn btn-secondary my-3" href="{% url 'event-detail' challenge.event.context.code challenge.event.id %}">See Event</a>
        
    </div>
</div>


{% endblock content %}