{% extends "rivercureportal/base.html" %}
{% block title %} Quiz "{{ challenge.title }}" {% endblock %}
{% load auth_extras %}
{% load my_tags %}
{% load static %}


{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />
{% endblock scripts %}





{% block content %}

<!-- Header -->
<h1>Organization {{ challenge.organization }}</h1>
{% if challenge.event %}<strong>Event:</strong> {{ challenge.event.Name }}{% endif %}
<hr>

<!-- Challenge Header -->
<div class="my-3">

    <div class="row mx-0 my-contribution-detail-meta-info-card">
        <div class="col">
            <h2 class="my-3">Quiz "{{ challenge.title }}" - Questions</h2>

            {% if challenge.can_manage_questions %}
                <hr>
                <a class="btn btn-info mb-3" href="{% url 'question-add' challenge.id %}"><i class="bi bi-plus"></i> Add Question</a>
            {% endif %}
        </div>
    </div>

</div>

{% for question in questions %}
<div class="my-3">
    <!-- Header -->
    <div class="py-2 px-4 d-flex justify-content-between align-items-center my-contribution-detail-meta-info-card-top my-contribution-detail-footer">
        <div class="q-header-left">
            <h5 class="m-0">Question {{question.position}}</h5>
        </div>
        <div class="q-header-right d-flex">
            {% if challenge.can_manage_questions %}
                <a class="btn btn-outline-secondary ml-2 {% if question.position == 1 %}disabled{% endif %}" href="{% url 'question-position-up' question.id %}"><i class="bi bi-arrow-up"></i></a>
                <a class="btn btn-outline-secondary ml-2 {% if question.position == question.challenge.nr_questions %}disabled{% endif %}" href="{% url 'question-position-down' question.id %}"><i class="bi bi-arrow-down"></i></a>

                <a class="btn btn-outline-info ml-2" href="{% url 'question-update' question.id %}"><i class="bi bi-pencil"></i></a>
                <!-- Delete Modal Button -->
                <button type="button" class="btn btn-outline-danger ml-2" data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}"><i class="bi bi-trash"></i></button>

                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ forloop.counter }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModal{{ forloop.counter }}"><span class='text-danger'>Delete Question</span></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body p-3">
                                <p class="justify m-0">Are you sure you want to <span class='text-danger'>delete</span> this Question?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary my-3 ml-3" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger my-3 mr-3" href="{% url 'question-delete' question_id=question.id %}"><i class="bi bi-trash"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Content -->
    <div class="py-2 px-4 my-contribution-detail-middle">
        <p class="my-2 font-weight-normal">Question</p>
        <div class="question-box">
            <p class="font-weight-light m-2">{{question.content}}</p>
        </div>

        <p class="mb-2 mt-3 font-weight-normal">Expected Answer</p>
        <!-- Short Text -->
        {% if question.is_short_text %}
            <div class="question-box mb-2">
                <p class="font-weight-light m-2">{{ question.short_text_question.correct_text }}</p>
            </div>
            
        <!-- Multiple Choice -->
        {% elif question.is_multiple_choice %}
            {% for mc_option in question.multiple_choice_option_question.all %}
                <div class="question-box mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="font-weight-light m-2">{{mc_option.content}}</p>
                        <div class="m-2">{% if mc_option.is_correct %}<i class="bi bi-check-lg text-success"></i>{% else %}<i class="bi bi-x-lg text-danger"></i>{% endif %}</div>
                    </div>
                </div>
            {% endfor %}

        <!-- True or False -->
        {% elif question.is_true_false %}
            {% for tf_option in question.true_false_question.all %}
                <div class="question-box mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="font-weight-light m-2">{{tf_option.content}}</p>
                        <div class="m-2">{% if tf_option.value %}<span class="text-primary">True</span>{% else %}<span class="text-warning">False</span>{% endif %}</div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Footer -->
    <div class="py-2 px-4 d-flex justify-content-between my-contribution-detail-bottom my-contribution-detail-footer">
        <p class="m-0 font-weight-lighter text-muted">Score: <span class="text-info">{{question.score}}</span></p>
        <p class="m-0 font-weight-lighter text-muted">ID: {{question.id}}</p>
    </div>
</div>
{% endfor %}


<!-- Footer (Bottom Buttons) -->
<div class="row my-3 mx-0 my-contribution-detail-meta-info-card my-contribution-detail-footer">
    <div class="col">
        <!-- See Challenge -->
        <a class="btn btn-secondary my-3" href="{% url 'challenge-detail' challenge.id %}">See Quiz</a>
        
    </div>
</div>


{% endblock content %}