{% extends "rivercureportal/base.html" %}
{% block title %} Event '{{event.Name}}' - Challenges {% endblock %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load static %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

{% endblock %}



{% block content %}

<h1 class="mt-2">{{ event.context.Name }} event '{{ event.Name }}' - Challenges </h1>
<p class="font-weight-light" align="justify">On this page you can see the Challenges available in this Event.</p>
<hr>

<!-- Filter -->
<button class="btn btn-info dropdown-toggle" type="button" data-toggle="collapse" data-target="#filter-menu">Search and Filter</button>
<div id="filter-menu" class="collapse card my-card-hover card-body">
    <form method="get">
        {% comment %} {{ filter.form |crispy }} {% endcomment %}
        <button type="submit" class="btn btn-outline-info"><i class="bi bi-funnel"></i> Apply</button>
    </form>
</div>
<hr>

<!-- TODO: Make a nice design for these cards (same design as in Event detail page) -->
<!-- List of Challenges-->
<div class="d-flex flex-row flex-wrap justify-content-between">
    {% for challenge in challenges %}
        <a href="#">
            <div class="card my-card-hover my-2 my-context-card">
                {% comment %} {% if contribution.thumbnail %}
                    <img src="{{MEDIA_URL}}{{contribution.thumbnail}}" class="my-card-contribution-thumbnail-img" alt="Contribution thumbnail">
                {% else %}
                    <div class="my-card-contribution-no-thumbnail-img"></div>
                {% endif %} {% endcomment %}
                {% comment %} {% if contribution.thumbnail %}
                    <img src="{{MEDIA_URL}}{{contribution.thumbnail}}" class="my-card-contribution-thumbnail-img" alt="Contribution thumbnail">
                {% else %}
                    <img src="{{MEDIA_URL}}/contributions/situation_default_imgs/{{contribution.situationObserved|get_situation_default_image}}" class="my-card-contribution-thumbnail-img" alt="Contribution thumbnail">
                {% endif %} {% endcomment %}
                {% comment %} <img src="{{MEDIA_URL}}{{contribution.createdBy.profile.image}}" class="my-card-user-image" alt="User profile image"> {% endcomment %}
                <div class="card-body pt-0">
                    <h5 class="card-title">{{ challenge.title|title }}</h5>
                    <small class="text-body-secondary card-contributions text-muted">Created by {{ challenge.created_by }}</small>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
<!-- If list empty -->
{% if challenges.count == 0 %}
    <p class="font-weight-light my-2 text-center">There are no Challenges yet.</p>
{% endif %}

<!-- Bottom button -->
<a class="btn btn-secondary my-3" style="float: right;" href="{% url 'event-detail' event.context.code event.id %}">Back to Event</a>

<!-- Pagination -->
{% comment %} <div class="row">
    <div class="col">
        {% if is_paginated %}
            <nav aria-label="Page navigation" class="d-flex justify-content-center pt-3">
                <ul class="pagination">
                    {% if page_obj.has_previous and page_obj.number != 2 %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' 1 %}" tabindex="-1" aria-disabled="true">First Page</a></li>
                    {% endif %}

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
                    
                    <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
                    {% endif %}

                    {% if page_obj.paginator.num_pages != page_obj.number and page_obj.paginator.num_pages != page_obj.next_page_number %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">Last Page</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div> {% endcomment %}

{% endblock content %}