{% extends "rivercureportal/base.html" %}
{% load i18n %}
{% block title %} {% trans "Create" %} Quiz {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

<style>
    .asteriskField {
        color: #17a2b8;
    }

    .word-color {
        color: #17a2b8;
    }
</style>

{% endblock scripts %}



{% block content %}


<h1>{% trans "Organization" %} {{org.name}}</h1>
{% if event %}<p><strong>{% trans "Event" %}</strong> {{ event.Name }}</p>{% endif %}
<hr>


<div class="card p-4 mb-4">
    <!-- Header -->
    <p class="font-weight-light m-0" align="justify">
        {% trans "For more information about the RiverCure Portal and Quizzes, please visit the" %} <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
    </p>
    <hr>

    <!-- Form -->
    <form method="POST" enctype="multipart/form-data" id="challengeForm">
        {% csrf_token %}

        {{ form|crispy }}

        <!-- Confirm Modal Button-->
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#confirmModal">
            {% trans "Submit" %}
        </button>

        <a class="btn btn-outline-secondary" href="javascript:window.history.back()">{% trans "Cancel" %}</a>

    </form>
    
    <!-- Confirm Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">{% trans "Create Quiz" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-3">
                    <p class="justify">
                        {% trans "Are you sure you want to <span class='word-color'>submit</span>?" %}
                    </p>
                    <p class="justify">
                        {% trans "For more information about the RiverCure Portal and Quizzes, please visit the" %} <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary my-3 ml-3" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button class="btn btn-info my-3 mr-3" type="submit" form="challengeForm">{% trans "Confirm" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}