{% extends "rivercureportal/base.html" %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Context Quizzes" %} {% endblock %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

{% endblock %}



{% block content %}

<h1>{{ context.Name }} - {% trans "Quizzes" %}</h1>
<p class="font-weight-light" align="justify">{% trans "On this page you can see this Context's Quizzes." %}</p>
<hr>

<!-- Filter -->
<button class="btn btn-info dropdown-toggle" type="button" data-toggle="collapse" data-target="#filter-menu">{% trans "Search and Filter" %}</button>
<div id="filter-menu" class="collapse card my-card-hover card-body mt-3">
    <form method="get">
        {{ filter.form |crispy }}
        <button type="submit" class="btn btn-outline-info"><i class="bi bi-funnel"></i> {% trans "Apply" %}</button>
    </form>
</div>
<hr>

<!-- List of Challenges-->
<div class="d-flex flex-row flex-wrap justify-content-between">
    {% for challenge in challenges %}
        <a href="{% url 'challenge-detail' challenge.id %}">
            <div class="card my-card-hover">
                <div class="card-body">
                    <h5 class="card-title">{{ challenge.title }}</h5>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary text-muted">{% trans "Opened on" %} {{ challenge.open_datetime }}</small>
                </div>            
            </div>
        </a>
    {% endfor %}
</div>
<!-- If list empty -->
{% if challenge.count == 0 %}
    <p class="font-weight-light my-2 text-center">{% trans "There are no Quizzes for this Context." %}</p>
{% endif %}

{% endblock content %}