{% extends "rivercureportal/base.html" %}
{% block title %} Moderators {% endblock %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load static %}



{% block content %}
<!-- Header -->
<h1>{{ context.Name }} Moderators </h1>
<p><strong>Organization:</strong> <em>{{ context.organization }}</em></p>
<hr>

<p class="font-weight-light" align="justify">
    On this page you can see the moderators of the {{ context.Name }} context.
    For more information on moderators and context-level permissions, please visit the <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
</p>

<!-- Top buttons -->
<div class="mb-3">
    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#filter-menu">Search and Filter</button>
    {% if canEdit %}
        <a class="btn btn-success" href="{% url 'moderator-list-add' context.code %}">Add Moderator</a>
    {% endif %}
</div>

<div id="filter-menu" class="collapse card my-card-hover card-body mb-3">
    <form method="get">
        {{ filter.form |crispy }}
        <button type="submit" class="btn btn-outline-info">Apply</button>
    </form>
</div>

<!-- Moderator list -->
<table class="table table-hover">
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Date granted</th>
    </tr>
    {% for member in users %}
        <tr>
            <td>{{ member.user.username }}</td>
            <td>{{ member.user.email }}</td>
            {% if canEdit %}
                <td>
                    {{ member.grant_date }}
                    <!-- Remove access -->
                    <a class="pl-2" href="{% url 'moderator-remove' contextCode=context.code userId=member.user.id %}">
                        <span class="label label-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff0000" class="bi bi-x-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" /><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" /></svg>
                        </span>
                    </a>
                </td>
            {% else %}
                <td>{{ member.grant_date }}</td>
            {% endif %}
            
        </tr>

        {% empty %}
        <!-- TODO: Change this to something prettier eheh -->
        <td><h2 class="text-secondary font-italic no-context-data">There are no moderators in this organization.</h2></td>
    {% endfor %}
</table>

<!-- Bottom button -->
<div class="w-100 mb-4">
    <a class="btn btn-secondary" style="float: right;" href="{% url 'context-detail' context.code %}">Back to Context detail</a>
</div>

<!-- Pagination -->
<!-- TODO: Apply Bootstrap's grid system -->
<div class="row">
    <div class="col">
        {% if is_paginated %}
            <nav aria-label="Page navigation" class="d-flex justify-content-center pt-3">
                <ul class="pagination">
                    {% if page_obj.has_previous and page_obj.number != 2 %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' 1 %}" tabindex="-1" aria-disabled="true">First Page</a></li>
                    {% endif %}

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
                    
                    <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
                    {% endif %}

                    {% if page_obj.paginator.num_pages != page_obj.number and page_obj.paginator.num_pages != page_obj.next_page_number %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">Last Page</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>


{% endblock content %} 