{% extends "rivercureportal/base.html" %}
{% load i18n %}
{% block title %} {% trans "Moderators" %} {% endblock %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load static %}



{% block content %}
<!-- Header -->
<h1>{{ context.Name }} - {% trans "Moderators" %} </h1>
<p><strong>{% trans "Organization" %}:</strong> {{ context.organization.name }}</p>
<hr>

<p class="font-weight-light" align="justify">{% blocktrans with context_name=context.Name %}On this page you can see the Moderators of the {{context_name}} Context. For more information on Moderators and Context-level permissions, please visit the{% endblocktrans %} <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
</p>

<!-- Top buttons -->
<div class="mb-3">
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="collapse" data-target="#filter-menu">{% trans "Search and Filter" %}</button>
    {% if canEdit %}
        <a class="btn btn-success" href="{% url 'moderator-list-add' context.code %}"><i class="bi bi-plus"></i> {% trans "Add Moderator" %}</a>
    {% endif %}
</div>

<div id="filter-menu" class="collapse card my-card-hover card-body mb-3">
    <form method="get">
        {{ filter.form |crispy }}
        <button type="submit" class="btn btn-outline-info"><i class="bi bi-funnel"></i> {% trans "Apply" %}</button>
    </form>
</div>

<!-- Moderator list -->
<table class="table table-hover">
    <tr>
        <th scope="col">{% trans "Username" %}</th>
        <th scope="col">Email</th>
        <th scope="col">{% trans "Date granted" %}</th>
    </tr>
    {% for member in users %}
        <tr>
            <td>{{ member.user.username }}</td>
            <td>{{ member.user.email }}</td>
            {% if canEdit %}
                <td>
                    {{ member.grant_date }}
                    <!-- Remove access -->
                    <a class="pl-2" href="{% url 'moderator-remove' contextCode=context.code userId=member.user.id %}">
                        <i class="bi bi-x-circle text-danger"></i>
                    </a>
                </td>
            {% else %}
                <td>{{ member.grant_date }}</td>
            {% endif %}
            
        </tr>

        {% empty %}
        <td><h2 class="text-secondary font-italic no-context-data">{% trans "There are no Moderators." %}</h2></td>
    {% endfor %}
</table>

<hr>
<!-- Bottom Buttons -->
<div class="d-flex justify-content-between align-items-center flex-wrap my-2">
    <a class="btn btn-secondary" href="{% url 'context-detail' context.code %}">{% trans "Back to Context" %}</a>
    
    <!-- Pagination -->
    {% if is_paginated %}
        <nav aria-label="Page navigation" class="d-flex justify-content-center">
            <ul class="pagination">
                {% if page_obj.has_previous and page_obj.number != 2 %}
                    <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' 1 %}" tabindex="-1" aria-disabled="true">{% trans "First Page" %}</a></li>
                {% endif %}
    
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                
                <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
    
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
                {% endif %}
    
                {% if page_obj.paginator.num_pages != page_obj.number and page_obj.paginator.num_pages != page_obj.next_page_number %}
                    <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">{% trans "Last Page" %}</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>


{% endblock content %} 