{% extends "rivercureportal/base.html" %}
{% block title %} My Contexts {% endblock %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load static %}

{% block scripts %}
<!-- TODO: Fix styling of card list that is in here -->
<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

{% endblock %}



{% block content %}

<!-- TODO: Where to put style tag? -->
<style>
    .text-approved {
        font-size: 14px;
        font-weight: 600;
        color: #444444;
    }
    
    .text-pending {
        color: #a5aec0;
    }
</style>

<!-- Header -->
<h1> My Contexts </h1>
<hr>

<p class="font-weight-light" align="justify">
    On this page you can see the Contexts in which you have the permission to moderate.
    For more information on moderators and context-level permissions, please visit the <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank">Wiki</a>.
</p>

<!-- Filter -->
<div class="mb-3">
    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#filter-menu">Search and Filter</button>
</div>
<hr>

<div id="filter-menu" class="collapse card card-body mb-3">
    <form method="get">
        {{ filter.form |crispy }}
        <button type="submit" class="btn btn-outline-info">Apply</button>
    </form>
</div>



<!-- List of Contexts-->
<div class="row row-cols-3">
    {% for context in contexts %}
        <div class="col">
            <a href="{% url 'moderator-context-contribution-list' context.context.code %}">
                <div class="card public-context-card" style="width: 18rem;">
                    <img src={{ context.context.picture.url }} class="card-img-top" alt="Picture of Context">
                    <div class="card-body">
                        <h5 class="card-title">{{ context.context.Name }}</h5>
                        <h6 class="card-text"><em>{{ context.context.hydroFeature }}</em></h6>
                        
                        <div class="progress mt-3">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{context.context.e_contextcontribution_set|get_pending_percentage}}%" aria-valuenow="{{context.context.e_contextcontribution_set|get_pending_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="mt-3"><span class="text-approved">{{context.context.e_contextcontribution_set|get_pending}} pending <span class="text-pending">of {{context.context.e_contextcontribution_set.count}} total</span></span> </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% if contexts.count == 0 %}
    <p class="font-weight-light my-2 text-center">There are no Contexts.</p>
{% endif %}

<!-- Pagination -->
<div class="row">
    <div class="col">
        {% if is_paginated %}
            <nav aria-label="Page navigation" class="d-flex justify-content-center pt-3">
                <ul class="pagination">
                    {% if page_obj.has_previous and page_obj.number != 2 %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' 1 %}" tabindex="-1" aria-disabled="true">First Page</a></li>
                    {% endif %}

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
                    
                    <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
                    {% endif %}

                    {% if page_obj.paginator.num_pages != page_obj.number and page_obj.paginator.num_pages != page_obj.next_page_number %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">Last Page</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>

{% endblock content %}