{% extends "rivercureportal/base.html" %}

{% block content %}

<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <b> <a class="mr-2">{{ object.sensor}} - observation{{ object.id }} ({{observation.sensor.type}})</a></b>
      </div>
      
      
      <p class="article-content">Date: {{observation.date}}</p>
      <p class="article-content">Time: {{observation.time}}</p>
      <p class="article-content">Depth: {{observation.depth}}</p>
      <p class="article-content">Dishcarge: {{observation.discharge}}</p>
    </div>
</article>
<a class="btn btn-outline-info" href="{% url 'sensor-observations' %}">All Observations</a>

{% endblock content %}




