{% extends "rivercureportal/base.html" %}

{% block content %}


  <article class="media content-section">
    <div class="media-body">

      <p class="article-content"><b>{{ sensor.Name }}</b></p>
      <p class="article-content">Code: {{ sensor.code }}</p> 
      <p class="article-content">Type: {{ sensor.type }}</p> 
      <p class="article-content">Modality: {{ sensor.modalityType }}</p> 
      <p class="article-content">Description: {{ sensor.description }}</p> 


      {% if perms.sensors.change_e_sensor %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'sensor-update' object.code %}" >Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'sensor-delete' object.code %}"  >Delete</a>
      {% endif %}
    
    </div>
</article>


{% endblock content %}




