{% extends "rivercureportal/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load auth_extras %}

{% block scripts %}
  <link rel="stylesheet" type="text/css" href="{% static 'sensors/css/style.css' %}">
{% endblock %}

{% block content %}

<style>
  th {
    cursor: pointer;
  }

  th:hover{
    background: #eee;
  }
</style>

<h1>Sensors</h1>

<div class="row">

<div class="col-md-8">
<table class="table table-hover ">
      <tr>
        <th class="tr_class" scope="col">Code</th>
        <th class="tr_class" scope="col">Name</th>
        <th class="tr_class" scope="col">Type</th>
        <th class="tr_class" scope="col">SubType</th>
        <th class="tr_class" scope="col">Modality</th>
        <th class="tr_class" scope="col">Observations</th>
      </tr>
      {% for sensor in filter.qs %}
      <tr>
        <td>{{ sensor.code }}</td>

        <td>
          <a href="{% url 'sensor-detail' sensor.pk %}">
            <div style="height:100%;width:100%">
              {{ sensor.Name }}
            </div>
          </a>
        </td>
        <td>{{ sensor.type }}</td>
        <td>{{ sensor.subtype }}</td>
        <td>{{ sensor.modalityType }}</td>
        <td class="tr_class"><a href="{% url 'sensor-observations' %}?sensor={{sensor.code}}"> <img src="{% static 'sensors/sensor-images/data.png' %}"  width="15%" height="15%" alt="observations" ></a></td>
      </tr>
      {% empty %}
      <td><h2 class="text-secondary font-italic no-context-data">No available sensors! :(</h2></td>
    {% endfor %}
  </table>
  </div>

  <div class="filter-section col-md-3">
    <h5>Filter</h5> 
    <form method="get">
      {{ filter.form |crispy }}
      <button type="submit" class="btn btn-info">Filter</button>
    </form>
  </div>

  {% if perms.sensors.add_e_sensor %}
  <div>
    <a type="button" class="btn btn-info ml-3" href="{% url 'admin:sensors_e_sensor_add' %}">Add sensor</a>
  </div>
  {% endif %}
 
</div>

<script>
  
  console.log("sort");
  const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
  const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

  console.log(document.querySelector('table'));

    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
    const table = th.closest('table');
    console.log("listen");
    Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
        .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
        .forEach(tr => table.appendChild(tr) );
})));
 

  console.log("hello");
</script>


{% endblock content %}




