{% extends "rivercureportal/base.html" %}
{% load leaflet_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load auth_extras %}

{% block scripts %}
	{% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
	<script type='text/javascript' src={% static 'context/js/context.js' %}></script>
    <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
    <script src="{% static 'context/LeafletClustering/leaflet.markercluster.js' %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

	<script>
		document.addEventListener('DOMContentLoaded', () => {
			window.addEventListener("map:init", e => {
                const map = e.detail.map;   
                map.addControl(new L.Control.Fullscreen()); //add control to enable fullscreen
                
                MyFunctions.mode = 'view';
                MyFunctions.showMousePosition();
                MyFunctions.mouseMove(map, 'view');

				//visual tools
                map.on('dragstart', e => {
                    e.target._container.style.cursor = 'grab';
                });
                map.on('dragend', e => {
                    e.target._container.style.cursor = 'pointer';
                });


				var sensor = {code: '{{ sensor.code }}', name: '{{ sensor.Name }}', modalityType: '{{ sensor.modalityType }}', type: '{{ sensor.modalityType }}',
                    description: '{{ sensor.description }}', version: '{{ sensor.version }}', timeZoneAbbreviation: '{{ sensor.timeZoneAbbreviation }}',
                    timeZoneOffset: '{{ sensor.timeZoneOffset }}', geom: '{{ sensor.geom }}'};

				drawSensor(map, sensor);
			});
		});

		showUploadDiv = (state) => {
			document.querySelector('#observationsUploadDiv').style.display = state;

			if(state == "block") {
				window.scrollBy(0, 500);
			}
		}

		drawSensor = (map, sensor) => {
			sensorIcon = L.divIcon({html: MyFunctions.sensorIcon(sensor.code, 'whitesmoke'), className: 'sensor', iconSize: [35, 35]});
            sensorMarker = L.marker(MyFunctions.coordStringToArray(sensor.geom)[0], {icon: sensorIcon}).addTo(map);
            sensorMarker.bindPopup(MyFunctions.sensorPopup(sensor));
            sensorMarker.bindTooltip('Sensor ' + sensor.code);
            map.setView(sensorMarker.getLatLng(), 12);
		}
  	</script>

	<style>
		html {
            scroll-behavior: smooth;
        }
		#my_map {
			margin-bottom: 100px;
		}
	</style>
{% endblock %}

{% block content %}
  	<article class="media content-section">
    	<div class="media-body">
			<div class="article-metadata">
				<h1>{{ sensor.Name }}</h1>
			</div>
			<p class="article-content"><b>Code:</b> {{ sensor.code }}</p> 
			<p class="article-content"><b>Type:</b> {{ sensor.type }}</p> 
			<p class="article-content"><b>Modality:</b> {{ sensor.modalityType }}</p> 
			<p class="article-content"><b>Description:</b> {{ sensor.description }}</p> 


			{% if user|has_group:"SensorManager" or request.user.is_superuser %} 
				<a class="btn btn-secondary btn mt-1 mb-1" href="{% url 'sensor-update' object.code %}" >Edit</a>
				<a class="btn btn-secondary btn mt-1 mb-1" href="{% url 'sensor-geo-update' object.code %}" >Geo Edit</a>
				<a class="btn btn-danger btn mt-1 mb-1" href="{% url 'sensor-delete' object.code %}"  >Delete</a>
				<!--<a class="btn btn-info btn mt-1 mb-1"  href="#" onclick="showUploadDiv('block')">Upload Observations</a>-->
			{% endif %}
				<a class="btn btn-info btn mt-1 mb-1"  href="{% url 'sensor-observations' %}?sensor={{object.code}}">Observations</a>
				<a class="btn btn-secondary btn mt-1 mb-1" style="float:right" href="{% url 'sensor-list' %}" >Back to Sensors List</a>
		
		
		</div>
	</article>

	<!--<div id="observationsUploadDiv" class="container" style="display: none">
		<h2>Upload excel</h2>
		<div id="form-data" class="content-section">
			<form method='POST' enctype="multipart/form-data" action="{% url 'sensor-observations-upload' %}">
				{% csrf_token %}
				{{ form|crispy }}
				<div class="form-group">
					<button id="submit-btn" class="btn btn-info" type="submit" >Upload</button>
					<button id="submit-btn" class="btn btn-secondary btn mt-1 mb-1" style="float:right" onclick="showUploadDiv('none')" >Close</button>
				</div>
			</form>
		</div>
	</div>-->

	<div id="map-container" class="container">
		{% leaflet_map "my_map" %}
	</div>
{% endblock content %}




