{% extends "rivercureportal/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Sensors</h1>
<div class="content-section">
<form method="get">
  {{ filter.form |crispy }}
  <button type="button" class="btn btn-info">Filter</button>
</form>
</div>

{% for sensor in filter.qs %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'sensor-detail' sensor.code %}">{{ sensor.Name }}</a>
      </div>
      <p><a class="article-title" >{{ sensor.type }}</a></p>
      <p><a class="article-title" >{{ sensor.modalityType}}</a></p>
    </div>
</article>
{% endfor %}


{% endblock content %}




