{% extends "rivercureportal/base.html" %}
{% block title %} Organization {% endblock %}
{% load static %}
{% load auth_extras %}

{% block content %}

<article class="media content-section">
	<div class="media-body">
        <div class="article-metadata d-flex justify-content-between">
            <h1>{{ organization.name }}</h1>
            {% if belongsToOrganization %}
                <a class="btn btn-success m-2" href="{% url 'organization-set-current' organization.pk %}">Make current organization</a>
            {% endif %}
        </div>
        <p class="article-content mt-4"><b>Code: </b>{{ organization.code }}</p>
        <p class="article-content"><b>Managers: </b>{% for manager in managers %}{{manager.user}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        <p class="article-content"><b>Type: </b>{{ organization.get_type_display|default:"Not specified" }}</p>
        <p class="article-content"><b>State: </b>{{ organization.is_active|yesno:"Active,Suspended" }}</p>
        <p class="article-content"><b>Create date: </b>{{ organization.create_date }}</p>
        <p class="article-content"><b>Country: </b>{{ organization.get_country_display|default:"Not specified" }}</p>
        <p class="article-content"><b>City: </b>{{ organization.get_city_display|default:"Not specified" }}</p>

        {% if isSensorManager or isManager %}
            <a class="btn btn-success mt-1 mb-1" href="{% url 'sensor-class-list' organization.pk %}">Manage sensor classes</a>
        {% endif %}
        
        {% if request.user|has_group:"Admin" %}
            <a class="btn btn-info mt-1 mb-1" href="{% url 'organization-manage-managers' organization.pk %}">Manage managers</a>
        {% endif %}
        
        {% if isManager %}
            <a class="btn btn-primary mt-1 mb-1" href="{% url 'organization-manage' organization.pk %}">Manage users</a>
            {% if organization.is_active %}
                <a class="btn btn-secondary mt-1 mb-1" href="{% url 'organization-update' organization.pk %}">Edit</a>
            {% endif %}
        {% endif %}
        
        {% if request.user|has_group:"Admin" and organization.is_active %}
            <a class="btn btn-warning mt-1 mb-1" href="{% url 'organization-suspend' organization.pk %}">Suspend</a>
        {% elif request.user|has_group:"Admin" and not organization.is_active %}
            <a class="btn btn-success mt-1 mb-1" href="{% url 'organization-reactivate' organization.pk %}">Reactivate</a>
        {% endif %}
        <a class="btn btn-secondary mt-1 mb-1" style="float: right" href="{% url 'organization-list' %}">Back to organization list</a>

    </div>
</article>

{% endblock content %}
