{% extends "rivercureportal/base.html" %}
{% block title %} Organizations {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% load auth_extras %}

{% block content %}

<style>
	th {
		cursor: pointer;
	}

	th:hover {
		background: #eee;
	}
</style>

<h1>Organizations</h1>

<div class="row">
	<div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Creation date</th>
                <th scope="col">Role</th>
                <th scope="col">State</th>
                <th scope="col">Current</th>
            </tr>
            {% for organization in organizations %}
            <tr>
                <td>
                    <a href="{% url 'organization-detail' organization.pk %}">{{ organization.name }}</a>
                </td>
                <td>{% if organization.type %}{{ organization.get_type_display }}{% else %}-----{% endif %}</td>
                <td>{% if organization.create_date %}{{ organization.create_date }}{% else %}-----{% endif %}</td>

                <td>
                    {% if organization.permission %} 
                        {% if organization.permission == 'org_manager' %}
                            <a class="btn-link disabled" href="#">Manager</a>
                        {% elif organization.permission == 'org_contextManager' %}
                            <a class="btn-link disabled" href="#">Context Manager</a>
                        {% elif organization.permission == 'org_eventManager' %}
                            <a class="btn-link disabled" href="#">Event Manager</a>
                        {% elif organization.permission == 'org_sensorManager' %}
                            <a class="btn-link disabled" href="#">Sensor Manager</a>
                        {% elif organization.permission == 'org_member' %}
                            <a class="btn-link disabled" href="#">Member</a>
                        {% endif %}    
                    {% elif organization.pending %}
                        {% if organization.is_active %}
                            <a class="btn-link disabled text-primary mr-2" href="#">Pending</a>
                            <a href="{% url 'organization-access-request-cancel' organization.pk %}">
                                <span class="label label-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff0000" class="bi bi-x-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" /><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" /></svg></span>
                            </a>
                        {% endif %}
                    {% else %}
                        {% if organization.is_active %}
                            <a href="{% url 'organization-access-request' organization.pk %}">Request access</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ organization.is_active|yesno:"Active,Suspended" }}
                </td>
                <td>
                    {% if request.session.organizationName == organization.name %}
                        X
                    {% endif %}
                </td>
            </tr>

            {% empty %}
            <td><h2 class="text-secondary font-italic no-context-data">There are no organizations</h2></td>
            {% endfor %}
        </table>


        <div class="pagination mb-5">
            <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
            </span>
        </div>
    </div>

	<div>
		{% if request.user|has_group:"Admin" %}
            <a type="button" class="btn btn-info ml-0 mt-3" href="{% url 'organization-create' %}">Create Organization</a>
		{% endif %}
	</div>

{% endblock content %}
</div>
