{% extends "rivercureportal/base.html" %}
{% block title %} Organization {% endblock %}
{% load static %}
{% load auth_extras %}

{% block content %}

<article class="media content-section">
	<div class="media-body">
    <div class="article-metadata">
		<h1>{{ organization.name }}</h1>
    </div>
    <p class="article-content mt-4">
		<b>Managers: </b>{% for manager in managers %}{{manager.user}} {% if not forloop.last %}, {% endif %}{% endfor %}
    </p>
    
    {% if organization.type %}
        <p class="article-content mt-4"><b>Type: </b>{{ organization.get_type_display }}</p>
    {% endif %}

    <p class="article-content mt-4"><b>State: </b>{{ organization.is_active|yesno:"Active,Suspended" }}</p>
    
    {% if organization.create_date %}
		<p class="article-content mt-4"><b>Create date: </b>{{ organization.create_date }}</p>
    {% endif %}
    
    {% if organization.country %}
		<p class="article-content mt-4"><b>Country: </b>{{ organization.get_country_display }}</p>
    {% endif %}

    {% if organization.city %}
		<p class="article-content mt-4"><b>City: </b>{{ organization.get_city_display }}</p>
    {% endif %}

	{% if isSensorManager or isManager %}
		<a class="btn btn-success btn mt-1 mb-1" href="{% url 'sensor-class-list' organization.pk %}">Manage sensor classes</a>
    {% endif %}
    
    {% if request.user|has_group:"Admin" %}
		<a class="btn btn-info btn mt-1 mb-1" href="{% url 'organization-manage-managers' organization.pk %}">Manage managers</a>
    {% endif %}
    
    {% if isManager %}
		<a class="btn btn-primary btn mt-1 mb-1" href="{% url 'organization-manage' organization.pk %}">Manage users</a>
		{% if organization.is_active %}
			<a class="btn btn-secondary btn mt-1 mb-1" href="{% url 'organization-update' organization.pk %}">Edit</a>
		{% endif %}
    {% endif %}
    
    {% if request.user|has_group:"Admin" and organization.is_active %}
		<a class="btn btn-warning btn mt-1 mb-1" href="{% url 'organization-suspend' organization.pk %}">Suspend</a>
    {% elif request.user|has_group:"Admin" and not organization.is_active %}
		<a class="btn btn-success btn mt-1 mb-1" href="{% url 'organization-reactivate' organization.pk %}">Reactivate</a>
    {% endif %}
    {% if request.META.HTTP_REFERER %}
        <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER|escape}}" style="float:right">Back</a>
    {% else %}
        <a class="btn btn-secondary btn mt-1 mb-1" style="float: right" href="{% url 'organization-list' %}">Back</a>
    {% endif %}

</div>
</article>

{% endblock content %}
