{% extends "rivercureportal/base.html" %}
{% block title %} Organization role change {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ view.name }}</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Save</button>
            <a class="btn btn-outline-secondary" href="{% url 'organization-manage' membership.organization.pk %}">Cancel</a>
        </div>
    </form>
</div>

{% endblock content %}
