{% extends "rivercureportal/base.html" %}
{% block title %} {% if sensor %} Edit sensor '{{ sensor.name }}'{% else %} Create a sensor {% endif %} {% endblock %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}

{% block scripts %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
    <script type='text/javascript' src={% static 'context/js/context.js' %}></script>

    <script>
        function addAsteriskToOptional() {
            let label = document.querySelector("#div_id_isPublic")?.children[1];
            if(!label) return; // in case of GeoEdit, where this field doesnt exist
            let span = document.createElement("span");
            span.classList.add('asteriskField');
            span.innerHTML = '*';
            label.innerHTML = 'Public';
            label.append(span);
        }

        document.addEventListener('DOMContentLoaded', () => {
            /* Unrelated - Django forms doesn't allow to have for a Boolean field to be required - https://stackoverflow.com/questions/8542839/django-form-with-booleanfield-always-invalid-unless-checked
            This is a workaround. We do isOptional => required = False, and here we inject the asterisk to mark the field as required */
            addAsteriskToOptional();

            // Map utils
            window.addEventListener("map:init", e => {
                const map = e.detail.map;
                MyFunctions.showMousePosition();
                MyFunctions.mouseMove(map);
                MyFunctions.mode = 'view';
                //visual tools
                map.on('dragstart', e => {
                    e.target._container.style.cursor = 'grab';
                });
                map.on('dragend', e => {
                    e.target._container.style.cursor = 'pointer';
                });
                //visual tools
                map.on('dragstart', e => {
                    e.target._container.style.cursor = 'grab';
                });
                map.on('dragend', e => {
                    e.target._container.style.cursor = 'pointer';
                });

                var lat = document.querySelector('#id_lat');
                var lng = document.querySelector('#id_lng');
                let lat_initial = lat.value == '' ? 0 : lat.value;
                let lng_initial = lng.value == '' ? 0 : lng.value;

                var sensor = L.marker([lat_initial, lng_initial]).addTo(map);
                var layer;

                lat.addEventListener('keyup', e => {
                    if(lng.value !== undefined && lng.value !== '') {
                        sensor.setLatLng([lat.value, lng.value]);
                    }
                });

                lng.addEventListener('keyup', e => {
                    if(lng.value !== undefined && lng.value !== '') {
                        sensor.setLatLng([lat.value, lng.value]);
                    }
                });

                map.on('click', e => {
                    lat.value = e.latlng.lat;
                    lng.value = e.latlng.lng;
                    sensor.setLatLng([lat.value, lng.value]);
                });

            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="content-section">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {% if sensor %} Edit sensor '{{ sensor.name }}'{% else %} Create a sensor {% endif %}
                </legend>
                {{ form|crispy }}
                {% leaflet_map "my_map" %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
                {% if sensor %}
                    <a class="btn btn-outline-secondary" href="{% url 'sensor-detail' sensor.pk %}">Cancel</a>
                {% else %}
                    <a class="btn btn-outline-secondary" href="{% url 'sensor-list' %}">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
    
{% endblock content %}