{% extends "rivercureportal/base.html" %}
{% block title %} {% if sensor %} Edit sensor '{{ sensor.name }}'{% else %} Create a sensor {% endif %} {% endblock %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}

{% block scripts %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
    <script type='text/javascript' src={% static 'context/js/context.js' %}></script>

    <script>
        function addAsteriskToOptional() {
            let label = document.querySelector("#div_id_isPublic")?.children[1];
            if(!label) return; // in case of GeoEdit, where this field doesnt exist
            let span = document.createElement("span");
            span.classList.add('asteriskField');
            span.innerHTML = '*';
            label.innerHTML = 'Public';
            label.append(span);
        }
        /* This function is triggered when a option is change in both the organization and the sensorClass select
        - If the Organization is changed, then on the sensorClass only the sensors classes of that organization are selectable
        - If the sensorClass is changed, then on the Organization only that sensorClass's organization is selectable (and is selected automatically) */
        function organizationSensorclassChangeHandler(organization_select, sensorClass_select, e) {
            const selectedOption = e.target.options[e.target.selectedIndex].text;
            if(e.target.id === 'id_organization') {
                if(selectedOption !== '---------') {
                    for(let i = 1; i < sensorClass_select.options.length; i++) {
                        if(sensorClass_select.options[i].text.includes(selectedOption)) {
                            sensorClass_select.options[i].disabled = false;
                        } else {
                            sensorClass_select.options[i].disabled = true;
                        }
                    }
                } else {
                    for(let i = 0; i < sensorClass_select.options.length; i++) {
                        sensorClass_select.options[i].disabled = false;
                    }
                }
            } else { // e.target.id == 'id_sensorClass'
                if(selectedOption !== '---------') {
                    var organizationIndex;
                    for(let i = 1; i < organization_select.options.length; i++) {
                        if(selectedOption.includes(organization_select.options[i].text)) {
                            organizationIndex = i;
                            organization_select.options[i].disabled = false;
                        } else {
                            organization_select.options[i].disabled = true;
                        }
                    }
                    organization_select.selectedIndex = organizationIndex; // set the Organization to that sensorClass's organization
                } else {
                    for(let i = 0; i < organization_select.options.length; i++) {
                        organization_select.options[i].disabled = false;
                    }
                }
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            /* Unrelated - Django forms doesn't allow to have for a Boolean field to be required - https://stackoverflow.com/questions/8542839/django-form-with-booleanfield-always-invalid-unless-checked
            This is a workaround. We do isOptional => required = False, and here we inject the asterisk to mark the field as required */
            addAsteriskToOptional();

            const organization_select = document.querySelector('#id_organization');
            const sensorClass_select = document.querySelector('#id_sensorClass');
            organization_select?.addEventListener('change', organizationSensorclassChangeHandler.bind(null, organization_select, sensorClass_select));
            sensorClass_select?.addEventListener('change', organizationSensorclassChangeHandler.bind(null, organization_select, sensorClass_select));

            // Map utils
            window.addEventListener("map:init", e => {
                const map = e.detail.map;
                MyFunctions.showMousePosition();
                MyFunctions.mouseMove(map);
                MyFunctions.mode = 'view';
                //visual tools
                map.on('dragstart', e => {
                    e.target._container.style.cursor = 'grab';
                });
                map.on('dragend', e => {
                    e.target._container.style.cursor = 'pointer';
                });
                //visual tools
                map.on('dragstart', e => {
                    e.target._container.style.cursor = 'grab';
                });
                map.on('dragend', e => {
                    e.target._container.style.cursor = 'pointer';
                });

                var lat = document.querySelector('#id_lat');
                var lng = document.querySelector('#id_lng');
                let lat_initial = lat.value == '' ? 0 : lat.value;
                let lng_initial = lng.value == '' ? 0 : lng.value;

                var sensor = L.marker([lat_initial, lng_initial]).addTo(map);
                var layer;

                lat.addEventListener('keyup', e => {
                    if(lng.value !== undefined && lng.value !== '') {
                        sensor.setLatLng([lat.value, lng.value]);
                    }
                });

                lng.addEventListener('keyup', e => {
                    if(lng.value !== undefined && lng.value !== '') {
                        sensor.setLatLng([lat.value, lng.value]);
                    }
                });

                map.on('click', e => {
                    lat.value = e.latlng.lat;
                    lng.value = e.latlng.lng;
                    sensor.setLatLng([lat.value, lng.value]);
                });

            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="content-section">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {% if sensor %} Edit sensor '{{ sensor.name }}'{% else %} Create a sensor {% endif %}
                </legend>
                {{ form|crispy }}
                {% leaflet_map "my_map" %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
                {% if sensor %}
                    <a class="btn btn-outline-secondary" href="{% url 'sensor-detail' sensor.pk %}">Cancel</a>
                {% else %}
                    <a class="btn btn-outline-secondary" href="{% url 'sensor-list' %}">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
    
{% endblock content %}