{% extends "rivercureportal/base.html" %}
{% block title %} About {% endblock %}

{% block content %}

<!-- About Section-->
<section class="page-section text-black mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-black">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-12 ml-auto">
                <p class="lead" style="text-align: justify; text-justify: inter-word">
                <br />
                RiverCure addresses the issue of reducing uncertainty and improving forecasting capabilities of hydrodynamic and morphodynamic mathematical models for flood simulation, water resources management and habitat protection. <br />
                <br />
                Profiting from recent advances in collecting and processing crowdsourced information produced by riverine communities and shared in internet sites and social media, RiverCure will contribute to improve the forecasting capabilities of mathematical models of rivers by making an efficient and systematic use of curated crowdsourced and authoritative data through assimilation and calibration.
                </p>
            </div>
        </div>
</section>

{% endblock content %}
