{% load auth_extras %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <title>Rivercure Portal - {% block title %} {% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" /> {% endcomment %}

        <link rel="stylesheet" type="text/css" href="{% static 'rivercureportal/main.css' %}" />
        <link rel="RCP icon" href="{% static 'rivercureportal/icons/logo.ico' %}" type="image/x-icon" />

        <!-- Boostrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        

        {% block scripts %}{% endblock scripts %}
    </head>

    <body>
        <style>
            .scrollable-menu {
                height: auto;
                max-height: 80vh;
                overflow-x: hidden;
            }
        </style>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="{% url 'rivercure-home' %}">RiverCure</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <div class="nav-item">
                                <a href="{% url 'rivercure-home' %}" class="nav-link">Home</a>
                            </div>
                            {% if user.is_authenticated %}
                                {% if user|has_org %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Management
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{% url 'context-list' %}">Contexts</a>
                                            <a class="dropdown-item" href="{% url 'sensor-list' %}">Sensors</a>
                                        </div>
                                    </li>
                                {% endif %}
                                {% if user|is_mod %}
                                    <div class="nav-item">
                                        <a href="{% url 'moderator-context-list' %}" class="nav-link">My Contexts</a>
                                    </div>
                                {% endif %}
                                <div class="nav-item">
                                    <a href="{% url 'my-contributions' %}" class="nav-link">My Contributions</a>
                                </div>
                                <div class="nav-item">
                                    <a href="{% url 'hydrofeature-list' %}" class="nav-link">Hydrofeatures</a>
                                </div>
                                <div class="nav-item">
                                    <a href="{% url 'organization-list' %}" class="nav-link">Organizations</a>
                                </div>
                                <!--
                                <div class="nav-item">
                                    <a href="{% url 'public-contexts' %}" class="nav-link">Public contexts</a>
                                </div>
                                -->
                            {% endif %}
                            <div class="nav-item">
                                <a href="{% url 'rivercure-about' %}" class="nav-link">About</a>
                            </div>
                        </div>

                        <!-- Navbar Right Side -->

                        <div class="navbar-nav">
                            {% if user.is_authenticated %}
                                <div class="nav-item dropdown">
                            {% if user.notifications.unread|length != 0 %}
                                <a href="#" class="nav-link dropdown" data-toggle="dropdown">
                            {% else %}
                                <a href="{% url 'notifications-all' %}" class="nav-link dropdown">
                            {% endif %}
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16"><path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" /></svg>
                                </span>
                                {% if user.notifications.unread|length != 0 %}
                                    <span class="badge bg-secondary">{{ user.notifications.unread|length }}</span>
                                {% endif %}
                            </a>
                            {% if user.notifications.unread|length != 0 %}
                            <div class="dropdown-menu scrollable-menu" style="min-width: 30vw">
                                {% for notification in user.notifications.unread %}
                                <a class="dropdown-item text-wrap mb-0" href="{% url 'organization-manage' notification.action_object.pk %}?notification={{ notification.pk }}" type="button">
                                    <small style="color: gray">{{ notification.timesince }} ago</small>
                                    <p style="font-size: 0.9rem; margin-bottom: 0">{{ notification.verb }}</p>
                                </a>
                                <div class="dropdown-divider"></div>
                                    {% if forloop.last %}
                                        <div>
                                            <div class="row">
                                                <div class="col-sm" style="border-right: 1px solid #e9ecef">
                                                    <a class="dropdown-item" href="{% url 'notifications-all' %}" type="button"><small>See all notifications</small></a>
                                                </div>
                                                <div class="col-sm">
                                                    <a class="dropdown-item" href="{% url 'notifications-clear' %}" type="button"><small>Clear all notifications</small></a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                            </div>
                            {% endif %}
                            <div class="nav-item dropdown">
                                <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank" class="nav-link">Wiki</a>
                            </div>
                            {% if user.is_superuser or user|has_group:"Admin" %}
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'admin:index' %}" class="dropdown-item">Admin Backoffice</a>
                                        <a href="{% url 'users' %}" class="dropdown-item">Users</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ user.username }} {%if request.session.organizationCode %} ({{ request.session.organizationCode }}) {% endif %}</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'profile' %}" class="dropdown-item">Edit My Profile</a>
                                        <a href="{% url 'organization-list' %}" class="dropdown-item">Set Current Organization</a>
                                        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                                    </div>
                                </div>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container">
            <div class="container">
                {% block show_messages %} {% comment %} TODO: MAKE SURE THIS DIDNT BREAK ANYTHING!! {% endcomment %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% else %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endblock show_messages %}
            
            {% block content %}{% endblock %}
            </div>
        </main>

        {% block landing_page %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
