{% load auth_extras %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'rivercureportal/main.css' %}">

    {% block scripts %}{% endblock scripts %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'rivercure-home' %}">RiverCure</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <div class="nav-item dropdown">
                {% if user.is_authenticated %}
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Contexts</a>
                <div class="dropdown-menu">
                    <a href="{% url 'context-list' %}" class="dropdown-item">My Contexts</a>
                    {% if user|has_group:"ContextAdmin" or request.user.is_superuser %} 
                    <a href="{% url 'context-requests-list' %}" class="dropdown-item">Pending Requests</a>
                    {% endif %}
                   
                </div>
                {% endif %}
              </div>
              <div class="nav-item dropdown">
                {% if user.is_authenticated %}
                <a href="{% url 'hydrofeature-list' %}" class="nav-link">Hydrofeatures</a>
                {% endif %}
              </div>
              <div class="nav-item dropdown">
                {% if perms.sensors.view_e_sensor %}
                <a href="{% url 'sensor-list' %}" class="nav-link">Sensors</a>
                {% endif %}
              </div>
              <div class="nav-item dropdown">
                {% if user.is_authenticated %}
                <a href="{% url 'organization-list' %}" class="nav-link">Organizations</a>
                {% endif %}
              </div>
          </div>
            
            <!-- Navbar Right Side -->
           
            <div class="navbar-nav">
              {% if user.is_authenticated %}
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown" data-toggle="dropdown">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16"><path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/></svg>
                  </span>
                  {% if user.notifications.unread|length != 0 %}
                    <span class="badge bg-secondary">{{ user.notifications.unread|length }}</span>
                  {% endif %}
                  </a>
                {% if user.notifications.unread|length != 0 %}
                <div class="dropdown-menu" style="min-width: 600px">
                  {% for notification in user.notifications.unread %} 
                    <a class="dropdown-item text-wrap mb-0" href="{% url 'organization-manage' notification.action_object.pk %}?notification={{ notification.pk }}" type="button"><small style="color: gray">{{ notification.timesince }} ago</small> <p style="font-size: 0.9rem; margin-bottom: 0;">{{ notification.verb }}</p></a>			
                    <div class="dropdown-divider"></div>
                    {% if forloop.last %}
                    <a class="dropdown-item" href="{% url 'notifications-clear' %}" type="button"><small>Clear all notifications</small></a>			
                    {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
              </div>
              {% endif %}            
              <div class="nav-item dropdown">
                <a href="{% url 'rivercure-about' %}" class="nav-link">About</a>
              </div>
              {% if user.is_authenticated %}
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
                <div class="dropdown-menu">
                  {% if user.is_staff or user.is_superuser %}    
                  <a href="{% url 'admin:index' %}" class="dropdown-item">Admin Backoffice</a>
                  {% endif %}
                  {% if user|has_group:"ContextAdmin" %} 
                  <a href="{% url 'users' %}" class="dropdown-item">Users</a>
                  {% endif %}
                </div>
              </div> 
            

              <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      
        <div class="container">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{message.tags}}">{{message}}</div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
    </main>

    {% block landing_page %}{% endblock %}

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
  </html>