{% extends "rivercureportal/base.html" %}

{% block content %}

<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.Name }}</a>
      </div>
      {% if perms.rivercureportal.change_e_hydrofeature %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'hydrofeature-update' object.id %}" > Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'hydrofeature-delete' object.id %}" > Delete</a>
      {% endif %}
      <p class="article-content">Code: {{ object.code }}</p></p>
      <p class="article-content">Area: {{ object.area }}</p>
    </div>
</article>


{% endblock content %}




