{% extends "rivercureportal/base.html" %}
{% block title %} Sensor Class list {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% load auth_extras %}

{% block content %}

<style>
	th {
		cursor: pointer;
	}

	th:hover {
		background: #eee;
	}
</style>

<h1>Sensor class's properties of sensor class '{{ sensorClass.name }}'</h1>

<div class="row">
	<div class="col-md-12">
    <table class="table table-hover">
		<tr>
			<th scope="col">Code</th>
			<th scope="col">Name</th>
			<th scope="col">Type</th>
			<th scope="col">Optional</th>
		</tr>
		{% for property in properties %}
		<tr>
			<td>
				<a href="{% url 'sensor-class-property-detail' property.sensorClass.pk property.pk %}">
					<div style="height: 100%; width: 100%">{{ property.code }}</div>
				</a>
			</td>
			<td>{{ property.name }}</td>
			<td>{{ property.get_type_display }}</td>
			<td>{{ property.isOptional|yesno:"Yes,No" }}</td>
        </tr>

        {% empty %}
        <td><h2 class="text-secondary font-italic no-context-data">There are no sensor classes</h2></td>
        {% endfor %}
    </table>

    {% comment %} Pagination {% endcomment %}

    <div class="pagination mb-5">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% comment %} Buttons {% endcomment %}

<div class="w-100">
    <a class="btn btn-success" href="{% url 'sensor-class-property-create' view.kwargs.sensorClassId %}">Create property</a>
    {% if request.META.HTTP_REFERER %}
        <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER|escape}}" style="float: right;">Back</a>
    {% else %}
        <a class="btn btn-secondary" href="{% url 'sensor-class-detail' view.kwargs.sensorClassId %}">Back</a>
    {% endif %}
</div>

{% endblock content %}
</div>
