{% extends "rivercureportal/base.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}

{% block scripts %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
    {% comment %} <script type='text/javascript' src={% static 'context/js/context.js' %}> {% endcomment %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            window.addEventListener("map:init", e => {
                const map = e.detail.map;
                //create a div on the map to see the current mouse lat and lon
                latlngDiv = document.createElement("div");
                latlngDiv.setAttribute("class", "leaflet-control-scale");
                latlngDivContent = document.createElement("div");
                latlngDiv.setAttribute("id", "mouse-latlng");
                latlngDiv.append(latlngDivContent);

                document.querySelector(".leaflet-bottom.leaflet-bottom").append(latlngDiv);
                //add the listener to update the values
                map.addEventListener('mousemove', e => {
                    document.querySelector("#mouse-latlng").innerHTML = "Lat: " + e.latlng.lat.toFixed(5)+ " Lon: " + e.latlng.lng.toFixed(5);
                });       
            });
        });
    </script>
{% endblock %}

{% block content %}

    <h1><small>Create your context </small></h1>
    <div class="content-section">
        <form method='POST'>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button id="submit-btn" class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
        <div class="border-top pt-3">
        </div>
    </div>
{% endblock %}