{% extends "Rivercureportal/base.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}

{% block scripts %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
    <script type='text/javascript' src={% static 'context/js/context.js' %}></script>
    <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
    <script src="{% static 'context/LeafletClustering/leaflet.markercluster.js' %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            window.addEventListener("map:init", e => {
                const map = e.detail.map;    
                map.doubleClickZoom.disable(); //disable double click zoom
                //document.querySelector('#load-btn').disabled = true; //disable the save context button until the context is completed
                //visual tools
                //function to draw mouse position on the map
                MyFunctions.showMousePosition();
                MyFunctions.mouseMove(map);
                //visual tools
                map.on('dragstart', e => {
                    e.target._container.style.cursor = 'grab';
                });
                map.on('dragend', e => {
                    e.target._container.style.cursor = 'pointer';
                });
                //end of visual tools
                //Put the sensors on the map                
                MyFunctions.drawSensors(map, loadSensors());
                MyFunctions.setDomainMarkers(map);
                //Polygon drawing controls
                drawControl = MyFunctions.drawControlConfig(map);
                map.addControl(drawControl);
                map.addControl(new L.Control.Fullscreen()); //add control to enable fullscreen
                MyFunctions.polygonsInit(map); //init the polygon storing system
                MyFunctions.boundariesInit(map); //init the boundaries variables
                //event to enable the dropdown selection for the polygon type
                map.on('draw:drawstop', e => {document.querySelector("#polygon-type").disabled = false});
                map.on("draw:drawstart", e => {MyFunctions.drawStart(e);});
                map.on("draw:created", e => {MyFunctions.definePolygon(e.layer, document.querySelector("#polygon-type").value, 0)});
                map.on('click', e => {MyFunctions.stopBoundaryDefinition(e, map)});
                //event for when a vertex is added to a polygon
                map.on("draw:drawvertex", e => {MyFunctions.vertexAdded(e, map);});
                map.on("draw:editstart", e => {MyFunctions.clearLayers();});
                map.on("draw:editstop", e => {MyFunctions.editStop(map); MyFunctions.checkForCompleteness();});
                map.on('draw:deletestart', e => {MyFunctions.deleting = true;});
                map.on('draw:deleted', e => {MyFunctions.removeLayers(e.layers.getLayers())});
                map.on('draw:deletestop', () => {MyFunctions.deleting = false; MyFunctions.checkForCompleteness();});
                map.on('popupopen', () => { MyFunctions.highlightStatus = false;});
                map.on('popupclose', () => { MyFunctions.highlightStatus = true; MyFunctions.highlightLayer.clearLayers()});
                map.on('overlayadd', () => { MyFunctions.overlayOrder(true);});
                //enable controls when users changes the select polygon
                document.querySelector("#polygon-type").addEventListener("change", e => {MyFunctions.polygonTypeChange(e, drawControl);});
                // load button action
                document.querySelector("#load-btn").addEventListener('click', MyFunctions.sendContext);
                // Function to call the api for the context data when user selects a context
                document.querySelector('#context-to-change').addEventListener('change', e => {
                    if(document.querySelector('#context-to-change').value !== "") {
                        MyFunctions.clearMap();
                        MyFunctions.getContext('{{ api }}' + document.querySelector('#context-to-change').value, map);
                    }
                });
                //load a context if the user comes from the context list page
                '{% if context is not None %}'
                    MyFunctions.clearMap();
                    MyFunctions.getContext('{{ api }}' + '{{ context }}', map);
                '{% endif %}'
            });    
            //function to load sensor information to a dict so it can be processed by a function
            loadSensors = () => {
                var sensors = [], sensor;
                '{% for sensor in sensors %}'
                    sensor = {code: '{{ sensor.code }}', name: '{{ sensor.Name }}', modalityType: '{{ sensor.modalityType }}', type: '{{ sensor.modalityType }}',
                    description: '{{ sensor.description }}', version: '{{ sensor.version }}', timeZoneAbbreviation: '{{ sensor.timeZoneAbbreviation }}',
                    timeZoneOffset: '{{ sensor.timeZoneOffset }}', geom: '{{ sensor.geom }}'};
                    sensors.push(sensor)
                '{% endfor %}'
                return sensors;
            }        
        });
    </script>
{% endblock %}

{% block content %}
    <h1><small>Edit your context here</small></h1>
    <div class="container">
        <label for="context-to-change">Choose a context:</label>
        <select name="context-to-change" id="context-to-change" class="browser-default custom-select">
            <option value="">-----</option>
            {% for context_definition in contexts%}
                <option value="{{ context_definition.code }}">{{ context_definition.Name }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="form-data" class="content-section container" style="display: none; margin-bottom:50px;">
        <form method='POST'  enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            {% comment %} <div id="load-status" class="alert alert-danger" role="alert">
                Context not ready for submission!!! Draw it on the map below!
            </div> {% endcomment %}
            <div class="row">
                <div class="col-md-9">
                    <div id="map-container" class="container">
                        {% leaflet_map "my_map" %}
                    </div>
                </div>
                <div id="polygon-tree-id" class="col-md-3">
                    <div id="domain-tree-id" class="container"></div>
                    <div id="refinement-tree-id" class="container"></div>
                    <div id="alignment-tree-id" class="container"></div>
                    <div id="boundaryline-tree-id" class="container"></div>
                </div>
            </div>
            <div class="container" id="context-options">
                <div class="container" style="display: flex">
                    <button type="button" id='load-btn' class="btn btn-outline-danger">Stage for Upload</button>
                    <select name="polygon-type" id="polygon-type" class="browser-default custom-select">
                        <option value="none" selected disabled>Select the polygon to define</option>
                        <option value="Domain">Domain</option>
                        <option value="Boundary">Boundary</option>
                        <option value="Alignment">Alignment</option>
                        <option value="Refinement">Refinement</option>
                    </select>
                </div>
                {% comment %} <div id='load-context-result' style='display: none'></div> {% endcomment %}
                <div id="load-context-result" class="alert alert-danger" role="alert">
                    Context not ready for submission!!! Draw it on the map below!
                </div>
            </div>
            <div class="form-group">
                <button id="submit-btn" class="btn btn-outline-info" type="submit">Save Context</button>
            </div>
        </form>
        <div class="border-top pt-3">
        </div>
    </div>


    
    
    

        {% comment %} <div class="polygon-tree col-md-12 border-top border-bottom">
            <div class="col-md-4">
                <h1><small>Domain 156</small></h1>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <b>Current CL:</b> 12
                </div>
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><b>Data Type:</b></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Insert new CL">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-info">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="polygon-tree container border-top border-bottom">
            <div class="col-md-4">
                <h1><small>Boundary 156</small></h1>
            </div>
            <div class="col-md-8">
                <div class="input-group col-md-12">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><b>Type:</b></span>
                    </div>
                    <select class="custom-select">
                        <option value="Input" selected>Input</option>
                        <option value="Output">Output</option>
                        <option value="InputOutput">Input Output</option>
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-info">Save</button>
                    </div>
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><b>Data Type:</b></span>
                    </div>
                    <select class="custom-select">
                        <option value="H" selected>Depth</option>
                        <option value="Q">Discharge</option>
                        <option value="Z">Elevation</option>
                        <option value="V">Velocity</option>
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-info">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="polygon-tree container border-top border-bottom">
            <div class="col-md-4">
                <h1><small>Water Entry Point 156 Sensors</small></h1>
            </div>
            <div class="col-md-8">
                <table class='table'>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Code</th>
                            <th scope="col">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td class='add-code'>5</td>
                            <td>Input</td>
                            <td><span class='close'>x</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="input-group col-md-12">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><b>Choose a sensor:</b></span>
                    </div>
                    <select class="custom-select">
                        <option value='null'>--------------------</option>
                    </select>
                    <div class"input-group-append">
                        <button type="button" class="btn btn-outline-info">Add</button>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
{% endblock %}