{% extends "Rivercureportal/base.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}

{% block scripts %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
    <script type='text/javascript' src={% static 'context/js/context.js' %}></script>
    <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
    <script src="{% static 'context/LeafletClustering/leaflet.markercluster.js' %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            
            window.addEventListener("map:init", e => {
                const map = e.detail.map;    
                //visual tools
                //function to draw mouse position on the map
                MyFunctions.showMousePosition();
                MyFunctions.mouseMove(map);
                //visual tools
                map.on('dragstart', e => {
                    e.target._container.style.cursor = 'grab';
                });
                map.on('dragend', e => {
                    e.target._container.style.cursor = 'pointer';
                });
                //end of visual tools
                //Put the sensors on the map                
                MyFunctions.drawSensors(map, loadSensors(), "{% static 'context/imgs/sensor_img.png' %}");
                MyFunctions.setDomainMarkers(map);
                //Polygon drawing controls
                drawControl = MyFunctions.drawControlConfig(map);
                map.addControl(drawControl);
                map.addControl(new L.Control.Fullscreen()); //add control to enable fullscreen
                MyFunctions.polygonsInit(map); //init the polygon storing system
                MyFunctions.boundariesInit(map); //init the boundaries variables
                //event to enable the dropdown selection for the polygon type
                map.on('draw:drawstop', e => {document.querySelector("#polygon-type").disabled = false});
                map.on("draw:drawstart", e => {MyFunctions.drawStart(e);});
                map.on("draw:created", e => {MyFunctions.definePolygon(e.layer, document.querySelector("#polygon-type").value, 0)});
                map.on('click', e => {MyFunctions.stopBoundaryDefinition(e, map)});
                //event for when a vertex is added to a polygon
                map.on("draw:drawvertex", e => {MyFunctions.vertexAdded(e, map);});
                map.on("draw:editstart", e => {MyFunctions.clearLayers();});
                map.on("draw:editstop", e => {MyFunctions.editStop(map)});
                map.on('draw:deletestart', e => {MyFunctions.deleting = true;});
                map.on('draw:deleted', e => {MyFunctions.removeLayers(e.layers.getLayers())});
                
                //enable controls when users changes the select polygon
                document.querySelector("#polygon-type").addEventListener("change", e => {MyFunctions.polygonTypeChange(e, drawControl);});
                // load button action
                document.querySelector("#load-btn").addEventListener('click', MyFunctions.sendContext);
                // Function to call the api for the context data when user selects a context
                document.querySelector('#context-to-change').addEventListener('change', e => {
                    if(document.querySelector('#context-to-change').value !== "") {
                        MyFunctions.clearMap();
                        MyFunctions.getContext('{{ api }}' + document.querySelector('#context-to-change').value, map);
                    }
                });
            });    
            //function to load sensor information to a dict so it can be processed by a function
            loadSensors = () => {
                var sensors = [], sensor;
                '{% for sensor in ssensors %}'
                    sensor = {code: '{{ sensor.code }}', name: '{{ sensor.Name }}', modalityType: '{{ sensor.modalityType }}', type: '{{ sensor.modalityType }}',
                    description: '{{ sensor.description }}', version: '{{ sensor.version }}', timeZoneAbbreviation: '{{ sensor.timeZoneAbbreviation }}',
                    timeZoneOffset: '{{ sensor.timeZoneOffset }}', geom: '{{ sensor.geom }}'};
                    sensors.push(sensor)
                '{% endfor %}'
                return sensors;
            }        
        });
    </script>
{% endblock %}

{% block content %}
    <h1><small>Edit your context here</small></h1>
    <div class="container">
        <label for="context-to-change">Choose a context:</label>
        <select name="context-to-change" id="context-to-change" class="browser-default custom-select">
            <option value="">-----</option>
            {% for context_definition in contexts%}
                <option value="{{ context_definition.code }}">{{ context_definition.Name }}</option>
            {% endfor %}
        </select>
    </div>
        
    
    <div id="form-data" class="content-section" style="display: none">
        <form method='POST'>
            {% csrf_token %}
            <input type="hidden" id="domain" name="domain" value="">
            <input type="hidden" id="alignment" name="alignment" value="">
            <input type="hidden" id="refinement" name="refinement" value="">
            {{ form|crispy }}
            <div id="load-status" class="alert alert-danger" role="alert">
                Context not loaded!!!
            </div>
            <div class="form-group">
                <button id="submit-btn" class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
        <div class="border-top pt-3">
        </div>
    </div>


    <div id="map-container" class="container">
        {% leaflet_map "my_map" %}
    </div>
    <div class="container" id="context-options">
        <div class="container" style="display: flex">
            <button type="button" id='load-btn' class="btn btn-outline-info">Save Context</button>
            <select name="polygon-type" id="polygon-type" class="browser-default custom-select">
                <option value="none" selected disabled>Select the polygon to define</option>
                <option value="Domain">Domain</option>
                <option value="Boundary">Boundary</option>
                <option value="Alignment">Alignment</option>
                <option value="Refinement">Refinement</option>
            </select>
        </div>
        <div id='load-context-result' style='display: none'></div>
    </div>
    
{% endblock %}