{% extends "rivercureportal/base.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}

{% block content %}
    <h1><small>Upload {{ context.Name }} context data</small></h1>
    <div id="form-data" class="content-section">
        <form method='POST' enctype="multipart/form-data" action="{% url 'context_upload' context.code %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button id="submit-btn" class="btn btn-outline-info" type="submit">Upload</button>
            </div>
        </form>
    </div>

    <script>
        document.querySelector('#id_code').value = '{{ context.code }}';
    </script>
{% endblock %}