{% extends "rivercureportal/base.html" %}

{% block content %}

<h1>Context</h1>
<article class="media content-section">
    <div class="media-body">
      <h2 class="article-title">{{context.Name}}</h2>
      <p class="article-content">Code: {{ context.code }}</p>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" 
      href="{% url 'event-list' %}?Name=&type=&context={{context.code}}&startDatetime=&endDatetime=&" > Events</a>
     
    </div>
    <a class="btn btn-primary btn-lg btn mt-1 mb-1" 
    href="{% url 'download_context' context.code %}" >Download</a>
</article>



{% endblock content %}




