{% extends "rivercureportal/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}

<script>
</script>

{% endblock %}

{% block content %}
    <div class="content-section">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-0">Request sent to access context '{{context.Name}}'</legend>
            </fieldset>
            <div class="form-group">
                <a class="btn btn-outline-danger" href="{% url 'context-list' %}">Back</a>            
            </div>
        </form>
    </div>
    
{% endblock content %}