{% extends "rivercureportal/base.html" %}
{% load auth_extras %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
{% endblock %}

{% block content %}

<h1>Context Access Requests</h1>

{% if user|has_group:"ContextManager" %}

<h2>Processing</h2>
{% for request in requests %}
{% if request.state == "processing" or request.state == "Processing" %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'context-request-decision' request.id %}">{{ request.context.Name }} </a>  
        </div>
        <div class="media-body">
          <p>User : {{ request.requestuser}}</p>
          <p>Organization : {{ request.requestuser.profile.institution}}</p>
        </div>
        <div class="media-article">
          <img class="article-img" src="{{ user.profile.image.url }}"></img>
        </div>
    </div>
</article>
{% endif %}
{% empty %}
<h2 class="text-secondary font-italic no-context-data">No requests</h2>
{% endfor %}

<h2>Finished</h2>
{% for request in requests %}
{% if request.state == "finished" or request.state == "Finished" %}
<article class="media content-section">
  <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2">{{ request.context.Name }} </a>  
      </div>
      <div class="media-body">
        <p>User : {{ request.requestuser}}</p>
        <p>Organization : {{ request.requestuser.profile.institution}}</p>
      </div>
      <div class="media-article">
        <img class="article-img" src="{{ user.profile.image.url }}"></img>
      </div>
  </div>
</article>
{% endif %}
{% empty %}
<h2 class="text-secondary font-italic no-context-data">No requests</h2>
{% endfor %}



{% endif %}

{% endblock content %}