{% extends "rivercureportal/base.html" %}
{% load leaflet_tags %}
{% load static %}


{% block scripts %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
    <script type='text/javascript' src={% static 'context/js/context.js' %}></script>
    <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
    <script src="{% static 'context/LeafletClustering/leaflet.markercluster.js' %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <script>
      document.addEventListener('DOMContentLoaded', () => {
            window.addEventListener("map:init", e => {
                const map = e.detail.map;   
                map.addControl(new L.Control.Fullscreen()); //add control to enable fullscreen
                
                MyFunctions.mode = 'view';
                MyFunctions.showMousePosition();
                MyFunctions.mouseMove(map, 'view');
                //visual tools
                map.on('dragstart', e => {
                    e.target._container.style.cursor = 'grab';
                });
                map.on('dragend', e => {
                    e.target._container.style.cursor = 'pointer';
                });
                MyFunctions.drawSensors(map, loadSensors());
                MyFunctions.domainMarkers = L.markerClusterGroup();
                MyFunctions.domainMarkers.addTo(map);
                map.layerscontrol.addOverlay(MyFunctions.domainMarkers, "Domain markers");
                MyFunctions.domainMarkers.bindTooltip("Boundary Line Point");
                MyFunctions.polygonsInit(map); //init the polygon storing system
                MyFunctions.boundariesInit(map); //init the boundaries variables


                MyFunctions.getContext('{{ api }}' + '{{ context.code }}', map);
            });

            loadSensors = () => {
                var sensors = [], sensor;
                '{% for sensor in sensors %}'
                    sensor = {code: '{{ sensor.code }}', name: '{{ sensor.Name }}', modalityType: '{{ sensor.modalityType }}', type: '{{ sensor.modalityType }}',
                    description: '{{ sensor.description }}', version: '{{ sensor.version }}', timeZoneAbbreviation: '{{ sensor.timeZoneAbbreviation }}',
                    timeZoneOffset: '{{ sensor.timeZoneOffset }}', geom: '{{ sensor.geom }}'};
                    sensors.push(sensor)
                '{% endfor %}'
                return sensors;
            }  
      });
    </script>
{% endblock %}


{% if user.is_superuser %}

{% block content %}

<h1>Context</h1>
<article class="media content-section">
    <div class="media-body">
      <h2 class="article-title">{{context.Name}}</h2>
      <p class="article-content">Code: {{ context.code }}</p>
      <div id="map-container" class="container">
        {% leaflet_map "my_map" %}
      </div>
        <a class="btn btn-info btn mt-1 mb-1" href="{% url 'context_manage'  %}?context_code={{ context.code }}" > Update</a>  
        <a class="btn btn-secondary btn btn mt-1 mb-1" href="{% url 'download_context' context.code %}" >Download</a>
        <a class="btn btn-info btn btn mt-1 mb-1" href="{% url 'context_upload' context.code %}">Upload Polygons</a>  
        <a class="btn btn-secondary btn mt-1 mb-1" href="#" style='float:right'>Sensors</a> 
        <a class="btn btn-secondary btn mt-1 mb-1" href="{% url 'event-list' %}?Name=&type=&context={{context.code}}&startDatetime=&endDatetime=&" style='float:right'> Events</a>     
    </div>
    
</article>

{% endblock content %}
{% endif %}



