{% extends "rivercureportal/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}

<script>
     document.addEventListener('DOMContentLoaded', () => {
     }


</script>

{% endblock %}

{% block content %}
    <div class="content-section">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Submit an access request</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit Request</button>
                <a class="btn btn-outline-secondary" href="{% url 'context-list' %}">Cancel</a>
            </div>
        </form>
    </div>
    
{% endblock content %}