{% extends "rivercureportal/base.html" %}
{% load auth_extras %}
{% load leaflet_tags %}
{% load static %}


{% block content %}
    <div class="content-section">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-0">Grant access to {{context}} for {{user}}?</legend>
            </fieldset>
            <div class="form-group">
                <a class="btn btn-outline-danger" href="{% url 'access-granted' request.id %}">Yes</a> 
                <a class="btn btn-outline-danger" href="{% url 'access-denied' request.id %}">No</a>
                <a class="btn btn-outline-secondary" href="{% url 'context-requests-list' %}">Back</a>
                
            </div>
        </form>
    </div>
    
{% endblock content %}