{% extends "rivercureportal/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
{% endblock %}

{% block content %}

<h1>My Contexts</h1>
<div class="filter-section">
<h5>Filter</h5> 
<form method="get">
  {{ filter.form |crispy }}
  <button type="submit" class="btn btn-info">Filter</button>
</form>
</div>

{% for context in filter.qs %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'context-detail' context.code %}">{{ context.Name }}</a>
      </div>
      <p><a class="article-title" ><b>Code :</b> {{ context.code }}</a></p>
      <p><a class="article-title" ><b>Owner :</b> {{ context.user }}</a></p>
      <p><a class="article-title" ><b>Hydrofeature :</b> {{ context.hydroFeature }}</a></p>
    </div>
</article>
{% empty %}
<h2 class="text-secondary font-italic no-context-data">No contexts found! :(</h2>
{% endfor %}


<a id='upload-context-btn' class="btn btn-info btn-lg mt-1" href="{% url 'other-contexts'  %}">Other Contexts</a>  



 
{% comment %} <h1>Don't see your context?</h1>
<div class="content">
  <a id='upload-context-btn' class="btn btn-info btn-lg mt-1" href="{% url 'context_upload'  %}">Upload It</a>  
</div> {% endcomment %}
  

{% endblock content %}




