{% extends "rivercureportal/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Events</h1>
<div class="filter-section">
<h5>Filter</h5> 
<form method="get">
  {{ filter.form |crispy }}
  <button type="button" class="btn btn-info">Filter</button>
</form>
</div>

{% for event in filter.qs %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'event-detail' event.pk %}">{{ event.Name }}</a>
      </div>
      <p class="article-title" >{{ event.type }}</p>
      <p class="article-title" >Date: {{ event.startDate }} - {{ event.endDate }</p>
      <p class="article-title" >Context: {{ event.context }}</p>
    </div>
</article>
{% empty %}
<h2 class="text-secondary font-italic no-context-data">No events found! :(</h2>
{% endfor %}


{% endblock content %}




