{% extends "rivercureportal/base.html" %}
{% load crispy_forms_tags %}
{% load auth_extras %}

{% block content %}

<h1>Events</h1>


<div class="row">

  <div class="col-md-8">
  <table class="table table-hover ">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Context</th>
        <th scope="col">Type</th>
        <th scope="col">SubType</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">State</th>
      </tr>
    </thead>
    <tbody>
      {% for event in filter.qs %}
      <tr>
        <td>
          <a href="{% url 'event-detail' event.pk %}">
            <div style="height:100%;width:100%">
              {{ event.Name }}
            </div>
          </a>
        </td>
        <td>{{ event.context }}</td>
        <td>{{ event.type }}</td>
        <td> {{ event.subtype }}</td>
        <td>{{ event.startDate }}</td>
        <td>{{ event.endDate }}</td>
        <td>{{ event.state }}</td>
      </tr>
      {% empty %}
      <td><h2 class="text-secondary font-italic no-context-data">No Events! :(</h2></td>
    {% endfor %}
  </tbody>
  </table>
  </div>

  <div class="filter-section col-md-3">
    <h5>Filter</h5> 
    <form method="get">
      {{ filter.form |crispy }}
      <button type="button" class="btn btn-info">Filter</button>
    </form>
    </div>

  {% if perms.sensors.add_e_sensor %}
  <div>
    <a type="button" class="btn btn-info" href="{% url 'event-create' %}">Add Event</a>
  </div>
  {% endif %}


</div>

{% endblock content %}




