{% extends "rivercureportal/base.html" %}
{% load auth_extras %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
{% endblock %}

{% block content %}

<h1>Other Contexts</h1>
<div class="filter-section">
<h5>Filter</h5> 
<form method="get">
  {{ filter.form |crispy }}
  <button type="submit" class="btn btn-info">Filter</button>
</form>
</div>

{% for context in filter.qs %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'context-detail' context.code %}">{{ context.Name }}</a>
      </div>
      <p><a class="article-title" ><b>My role :</b>{% if context.owner.username == self.request.user %} None {% endif %}</a></p>
      <p><a class="article-title" ><b>Hydrofeature :</b> {{ context.hydroFeature }}</a></p>
      {% if request.user|has_group:"ContextAdmin" or request.user|has_group:"ContextManager"%} 
      <a class="btn btn-info"  href="{% url 'context-requests-create' %}">  Request Acess</a>
      {% endif %}
    </div>
</article>
{% empty %}
<h2 class="text-secondary font-italic no-context-data">No contexts found! :(</h2>
{% endfor %}

<div class="content">
  <a id='upload-context-btn' class="btn btn-info btn-lg mt-1" href="{% url 'context-list'  %}">My Contexts</a>  
</div> 
  


{% endblock content %}




