{% extends "rivercureportal/base.html" %}
{% load auth_extras %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
{% endblock %}

{% block content %}

<style>
  th {
    cursor: pointer;
  }

  th:hover{
    background: #eee;
  }
</style>

<h1>Other Contexts</h1>
<div class="filter-section">
<h5>Filter</h5> 
<form method="get">
  {{ filter.form |crispy }}
  <button type="submit" class="btn btn-info">Filter</button>
</form>
</div>


<div class="row">
  <div class="col-md-8">
    <table class="table table-hover ">
      
          <tr>
            <th class="tr_class" scope="col">Context</th>
            <th class="tr_class" scope="col">Hydrofeature</th>
            <th class="tr_class" scope="col">Privacy</th>
            <th class="tr_class" scope="col"></th>
          </tr>
        
       
          {% for context in filter.qs %}
          <tr>
            <td>
              {% if context.isPublic == True %}<a href="{% url 'context-detail' context.code %}"><div style="height:100%;width:100%">{{ context.Name }}
              {% else %}
              <div style="height:100%;width:100%">{{ context.Name }}
              {% endif %}  
                  
                </div>
              </a>
            </td>
            <td>  {{ context.hydroFeature }} </td>
            <td>  {% if context.isPublic == True %} Public {% else %} Private {% endif %}</td>
            <td>  {% if request.user|has_group:"ContextAdmin" or request.user|has_group:"ContextManager"%}

                    {% for already_processing in processing %}
                    <!--<h2>{{ processing.count }}</h2>   TO FIX -->  
                      {% if already_processing.context != context %}
                      <a class="btn btn-info"  href="{% url 'context-request-create' context.code %}">Request Access</a>
                      {% else %}
                        <p>Request submited!</p>
                      {% endif %}
                      {% empty %}
                      <a class="btn btn-info"  href="{% url 'context-request-create' context.code %}">Request Access</a>
                    {% endfor %}

                  {% endif %}
            </td>
          </tr>
          {% empty %}
          <td><h3 class="text-secondary font-italic no-context-data">No other contexts!</h3></td>
          {% endfor %}
        
      </table>
      </div>
      </div>
  <script>
  
    console.log("sort");
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
      v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
      )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
  
    console.log(document.querySelector('table'));
  
      document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
      const table = th.closest('table');
      console.log("listen");
      Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
          .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
          .forEach(tr => table.appendChild(tr) );
  })));
   
  
    console.log("hello");
  </script> 


{% endblock content %}




