{% extends "rivercureportal/base.html" %}
{% block title %} Observation detail {% endblock %}
{% load static %}

{% block content %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h1>{{ observation.sensor }} - observation {{ observation.date|date:"d-M-Y" }}:{{ observation.time|time:"H:i" }}</h1>
        </div>
        <p class="article-content"><b>Date:</b> {{ observation.date }}</p>
        <p class="article-content"><b>Time:</b> {{ observation.time|time:"H:i" }}</p>
        <p class="article-content"><b>Severity:</b> {{ observation.get_severity_display }}</p>
        <p class="article-content"><b>Properties and values:</b></p>
        <div class="table-responsive">
        <table class="table table-striped table-hover mb-4">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Property</th>
                <th scope="col">Type</th>
                <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for property_value in observation.sensorobservationvalue_set.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'sensor-class-property-detail' observation.sensor.sensorClass.pk property_value.property.pk %}">{{ property_value.property.name }}</a></td>
                        <td>{{ property_value.property.get_type_display }}</td>
                        <td>{{ property_value.value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        {% if hasPerm %}
            <a class="btn btn-secondary btn mt-1 mb-1" href="{% url 'sensor-observation-update' observation.sensor.pk observation.pk %}">Edit</a>
            <a class="btn btn-danger btn mt-1 mb-1" href="{% url 'sensor-observation-delete' observation.sensor.pk observation.pk %}">Delete</a>
        {% endif %}
        {% if request.META.HTTP_REFERER %}
            <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER|escape}}" style="float:right">Back</a>
        {% else %}
            <a class="btn btn-secondary btn mt-1 mb-1" style="float: right" href="{% url 'sensor-observation-list' observation.sensor.pk %}">Back</a>
        {% endif %}
    </div>
</article>

{% endblock content %}
