#polygon-tree-id {
    height: 100px;
    overflow: scroll;
    margin-left: inherit;

    .polygon-tree {
        &:hover {
            background: #eee;
        }

        .tree-titles {
            font-size: large;
            margin-left: -5px;
            margin-top: 5px;

        }

        .polygon-tree-label {
            margin-bottom: 5px;
        }
    }
}

