#context-options {
    margin-bottom: 50px;

    #polygon-type {
        margin-left: 10px;
        max-width: 80%;
    }
    
    #load-context-result {
        margin-top: 10px;
        text-align: center;
    }
}

#context-to-change {
    margin-bottom: 25px;
}
