#context-options {
    margin-bottom: 20px;

    #polygon-type-div {
        margin-bottom: 10px;
    }
    
    #load-context-result {
        margin-top: 10px;
        width: 95%;
        margin-left: 24px;
        // text-align: center;
    }
}

#context-to-change {
    margin-bottom: 25px;
}
