{% extends "rivercureportal/base.html" %}
{% block title %} Sensor class '{{ sensorClass.name }}' detail {% endblock %}
{% load static %}

{% block content %}

<article class="media content-section">
	<div class="media-body">
    <div class="article-metadata">
		<h1><a class="mr-2">{{ sensorClass.name }}</a></h1>
    </div>
    <p class="article-content"><b>Code:</b> {{ sensorClass.code }}</p>
    <p class="article-content"><b>Name:</b> {{ sensorClass.name }}</p>
    <p class="article-content"><b>State:</b> {{ sensorClass.state }}</p>
    <p class="article-content"><b>Vendor:</b> {{ sensorClass.vendor|default:"Not specified" }}</p>
    <p class="article-content"><b>Version:</b> {{ sensorClass.version|default:"Not specified" }}</p>
    <p class="article-content"><b>Modality:</b> {{ sensorClass.modality }}</p>
    <p class="article-content"><b>Kind:</b> {{ sensorClass.kind }}</p>
    <p class="article-content"><b>Organization:</b> {{ sensorClass.organization }}</p>

    <a class="btn btn-info" href="{% url 'sensor-class-property-list' sensorClass.pk %}">Property list</a>
    <a class="btn btn-info" href="{% url 'sensor-class-update' sensorClass.pk %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'sensor-class-delete' sensorClass.pk %}">Delete</a>
    {% if request.META.HTTP_REFERER %}
        <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER|escape}}" style="float:right">Back</a>
	{% else %}
        <a class="btn btn-secondary" href="{% url 'sensor-class-list' sensorClass.organization.pk %}" style="float:right">Back</a>
    {% endif %}
	</div>
</article>

{% endblock content %}
