{% extends "rivercureportal/base.html" %}
{% block title %} Sensor Class list {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% load auth_extras %}

{% block content %}

<style>
	th {
		cursor: pointer;
	}

	th:hover {
		background: #eee;
	}
</style>

<h1>Sensor classes of organization '{{ organization.name }}'</h1>

<div class="row">
	<div class="col-md-12">
    <table class="table table-hover">
		<tr>
			<th scope="col">Code</th>
			<th scope="col">Name</th>
			<th scope="col">State</th>
			<th scope="col">Modality</th>
			<th scope="col">Category</th>
		</tr>
		{% for class in sensorClass %}
		<tr>
			<td>
				<a href="{% url 'sensor-class-detail' class.pk %}">
					<div style="height: 100%; width: 100%">{{ class.code }}</div>
				</a>
			</td>
			<td>{{ class.name }}</td>
			<td>{{ class.get_state_display }}</td>
			<td>{{ class.get_modality_display }}</td>
			<td>{{ class.category }}</td>
        </tr>

        {% empty %}
        <td><h2 class="text-secondary font-italic no-context-data">There are no sensor classes</h2></td>
        {% endfor %}
    </table>

    {% comment %} Pagination {% endcomment %}

    <div class="pagination mb-5">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% comment %} Buttons {% endcomment %}

<div class="w-100">
    {% if hasPerm %}
        <a class="btn btn-primary btn mt-1 mb-1" href="{% url 'sensor-class-create' view.kwargs.organizationId %}">Create sensor class</a>
    {% endif %}
    <a class="btn btn-secondary" style="float: right;" href="{% url 'organization-detail' view.kwargs.organizationId %}">Back to organization detail</a>
</div>

{% endblock content %}
</div>
