{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load auth_extras %}
{% load my_tags %}
{% load context_tags %}
{% load i18n %}
{% load static %}

<!-- Overriding base template -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <title>Rivercure Portal - Home</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" /> {% endcomment %}

        <link rel="stylesheet" type="text/css" href="{% static 'rivercureportal/main.css' %}" />
        <link rel="RCP icon" href="{% static 'rivercureportal/icons/logo.ico' %}" type="image/x-icon" />

        <!-- Boostrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        

        <!-- Context CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

        <!-- Leaflet -->
        {% leaflet_js plugins="ALL" %}
        {% leaflet_css plugins="ALL" %}

        <script type='text/javascript' src={% static 'context/js/context.js' %}></script>
        <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
        <script src="{% static 'context/LeafletClustering/leaflet.markercluster.js' %}"></script>

        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

        <!-- TODO: Move these plugins to settings.py -->
        <!-- Leaflet: Search function in map -->
        <!-- https://github.com/perliedman/leaflet-control-geocoder -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
        <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

        <!-- Leaflet: Get current position control -->
        <!-- https://github.com/domoritz/leaflet-locatecontrol -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.81.0/dist/L.Control.Locate.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.81.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

        <script>

            function showGridSearchForm() {
                let gridSearchForm = document.getElementById("grid-search-form");
                gridSearchForm.classList.remove("hidden");
            }

            function hideGridSearchForm() {
                let gridSearchForm = document.getElementById("grid-search-form");
                gridSearchForm.classList.add("hidden");
            }
            
            document.addEventListener('DOMContentLoaded', () => {

                window.addEventListener("map:init", e => {
        
                    const map = e.detail.map;
        
                    map.layerscontrol.setPosition("topleft");

                    // Try to find the user's current location
                    map.locate({
                        setView: true,
                        maxZoom: 17,
                    });
        
                    var marker = L.marker([0,0]).addTo(map);
                    // On success (of finding user's location)
                    map.on('locationfound', function (e) {
                        marker.setLatLng(e.latlng);
                    });
        
                    // On error (of finding user's location)
                    // TODO: Show entire map of Portugal
                    map.on('locationerror', function (e) {
                        marker.setLatLng([38.722252, -9.139337]);
                        map.setZoom(17);
                    });

                    // Add search function to map -> leaflet-control-geocoder (https://github.com/perliedman/leaflet-control-geocoder)
                    L.Control.geocoder({
                        position: 'topright',
                        //defaultMarkGeocode: false,
                        defaultMarkGeocode: true,
                        collapsed: false,
                        placeholder: 'Search by place...',
                        showResultIcons: true, // TODO: i don't think this is doing anything
                    }).on('markgeocode', function(e) {
                        var bbox = e.geocode.bbox;
                        map.fitBounds(bbox);
                        map.setZoom(17);
                    }).addTo(map);
        
                    // Add current position control to map
                    L.control.locate({
                        initialZoomLevel: 17,
                        flyTo: true,
                        drawCircle: false,
                        drawMarker: false
                    }).addTo(map);

                    
                    // TODO:
                    // If zoom > 2km, draw domain
                    // Else, show cluster of markers (like for sensosr)
                    
                    /*
                    MyFunctions.domainMarkers = L.markerClusterGroup();
                    MyFunctions.domainMarkers.addTo(map);
                    map.layerscontrol.addOverlay(MyFunctions.domainMarkers, "Domain Markers");
                    */

                    // - Add Public Contexts to map
                    public_contexts_json = {{public_contexts_json|safe}};

                    // Public Contexts layer group
                    var publicContextPolygons = {};
                    // Domain
                    publicContextPolygons.Domain = L.layerGroup().addTo(map);
                    map.layerscontrol.addOverlay(publicContextPolygons.Domain, 'Domain');

                    // For each Public Context
                    Object.entries(public_contexts_json).forEach((context) => {
                        //console.log(context["1"]["pk"]);
                        // Draw Domain
                        const geomExternalBoundary = context["1"]["fields"]["geomExternalBoundary"];
                        const CLExternalBoundary = context["1"]["fields"]["CLExternalBoundary"];
                        if (geomExternalBoundary !== null) {
                            //check if the refinement is defined in the database
                            let domain = L.polygon(MyFunctions.coordStringToArray(geomExternalBoundary), {
                                color: '#C0C0C0',
                            });

                            // When polygon is clicked, open card
                            const cur_lang = "{{request.path}}".substring(0,3);
                            const pk = context["1"]["pk"];

                            const header = `<h3>${context["1"]["fields"]["Name"]}</h3>`;
                            const picture = `<img src="/media/${context["1"]["fields"]["picture"]}" class="mb-2 rounded" style="width: 16rem; alt="Context Picture">`;
                            const contributeBtn = `<a href="${cur_lang}/contributions/new/${pk}" class="btn btn-info text-white mr-2 btn-block"><i class="bi bi-upload"></i> {% trans "Contribute" %}</a>`; // We have to hardcode URL
                            const detailBtn = `<a href="${cur_lang}/contexts/public/${pk}" class="btn btn-info mt-0 text-white btn-block"><i class="bi bi-info-circle"></i> {% trans "Details" %}</a>`;
                            const btns = `<div class="d-flex">${contributeBtn}${detailBtn}</div>`;

                            domain.bindPopup(header + "<hr class=\"my-2\">" + picture + btns,  {
                                maxWidth: "auto"
                            });

                            // Add this Public Context (layer) to Public Contexts layer group
                            publicContextPolygons.Domain.addLayer(domain);

                        }
                    });
                });

                // TODO: Remove current location pin when using search function. add cur location pin when
                // using cur location button
            })
        
        </script>
    </head>

    <body>
        <style>
            .scrollable-menu {
                height: auto;
                max-height: 80vh;
                overflow-x: hidden;
            }

            .language-circle {
                height: 22px;
                width: 22px;
                border-radius: 50%;
                border-style: solid;
                border-color: white;
                object-fit: cover;
            }

            .outline {
                border: 1px solid black;
                border-radius: 5px;
            }

            #my_map {
                margin: 0px;
            }

            .hidden {
                display: none;
            }
        </style>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="{% url 'rivercure-home' %}">RiverCure</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <div class="nav-item">
                                <a href="{% url 'rivercure-home' %}" class="nav-link">Home</a>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="nav-item">
                                    <a href="{% url 'my-contributions' %}" class="nav-link">{% trans "My Contributions" %}</a>
                                </div>
                                {% if user|has_org %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {% trans "Management" %}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item disabled" href="#">{% trans "Organization" %}</a>
                                            <a class="dropdown-item" href="{% url 'context-list' %}">{% trans "Contexts" %}</a>
                                            <a class="dropdown-item" href="{% url 'sensor-list' %}">{% trans "Sensors" %}</a>
                                            {% if request.session.organizationCode %}
                                            <a class="dropdown-item" href="{% url 'org-challenge-list' request.session.organizationCode %}">{% trans "Quizzes" %}</a>
                                            {% endif %}
                                            {% if user|is_quiz_manag %}
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item disabled" href="#">{% trans "Quiz Manager" %} DELETE</a>
                                                <a class="dropdown-item" href="{% url 'quiz-manager-context-list' %}">{% trans "My Contexts" %}</a>
                                                <a class="dropdown-item" href="{% url 'quiz-manager-my-challenges-list' %}">{% trans "Challenges" %}</a>
                                            {% endif %}
                                            {% if user|is_mod %}
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item disabled" href="#">{% trans "Moderator" %}</a>
                                                <a class="dropdown-item" href="{% url 'moderator-context-list' %}">{% trans "My Contexts" %}</a>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endif %}
                                {% comment %} {% if user|is_mod %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Moderation
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{% url 'moderator-context-list' %}">My Contexts</a>
                                        </div>
                                    </li>
                                {% endif %} {% endcomment %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Portal
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'organization-list' %}">{% trans "Organizations" %}</a>
                                        <a class="dropdown-item" href="{% url 'public-challenge-list' %}">{% trans "Quizzes" %}</a>
                                    </div>
                                </li>
                                {% comment %} <div class="nav-item">
                                    <a href="{% url 'public-contexts' %}" class="nav-link">Public contexts</a>
                                </div> {% endcomment %}
                                {% endif %}
                            <div class="nav-item">
                                <a href="{% url 'contact' %}" class="nav-link">{% trans "Contact" %}</a>
                            </div>
                            <div class="nav-item">
                                <a href="{% url 'rivercure-about' %}" class="nav-link">{% trans "About" %}</a>
                            </div>
                        </div>

                        <!-- Navbar Right Side -->

                        <div class="navbar-nav">
                            {% if user.is_authenticated %}
                                <div class="nav-item dropdown">
                            {% if user.notifications.unread|length != 0 %}
                                <a href="#" class="nav-link dropdown" data-toggle="dropdown">
                            {% else %}
                                <a href="{% url 'notifications-all' %}" class="nav-link dropdown">
                            {% endif %}
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16"><path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" /></svg>
                                </span>
                                {% if user.notifications.unread|length != 0 %}
                                    <span class="badge bg-secondary">{{ user.notifications.unread|length }}</span>
                                {% endif %}
                            </a>
                            {% if user.notifications.unread|length != 0 %}
                            <div class="dropdown-menu scrollable-menu" style="min-width: 30vw">
                                {% for notification in user.notifications.unread %}
                                <a class="dropdown-item text-wrap mb-0" href="{% url 'organization-manage' notification.action_object.pk %}?notification={{ notification.pk }}" type="button">
                                    <small style="color: gray">{{ notification.timesince }} {% trans "ago" %}</small>
                                    <p style="font-size: 0.9rem; margin-bottom: 0">{{ notification.verb }}</p>
                                </a>
                                <div class="dropdown-divider"></div>
                                    {% if forloop.last %}
                                        <div>
                                            <div class="row">
                                                <div class="col-sm" style="border-right: 1px solid #e9ecef">
                                                    <a class="dropdown-item" href="{% url 'notifications-all' %}" type="button"><small>{% trans "See all notifications" %}</small></a>
                                                </div>
                                                <div class="col-sm">
                                                    <a class="dropdown-item" href="{% url 'notifications-clear' %}" type="button"><small>{% trans "Clear all notifications" %}</small></a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                            </div>
                            {% endif %}
                            <div class="nav-item dropdown">
                                <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank" class="nav-link">Wiki</a>
                            </div>
                            {% if user.is_superuser or user|has_group:"Admin" %}
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'admin:index' %}" class="dropdown-item">Admin Backoffice</a>
                                        <a href="{% url 'users' %}" class="dropdown-item">{% trans "Users" %}</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ user.username }} {%if request.session.organizationCode %} ({{ request.session.organizationCode }}) {% endif %}</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'profile' %}" class="dropdown-item">{% trans "Edit Profile"  %}</a>
                                        <a href="{% url 'organization-list' %}" class="dropdown-item">{% trans "Set Current Organization" %}</a>
                                        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                                    </div>
                                </div>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                                <a class="nav-item nav-link" href="{% url 'register' %}">{% trans "Register" %}</a>
                            {% endif %}
                            <!-- Language Picker -->
                            {% get_current_language as CURRENT_LANGUAGE %}
                            {% get_available_languages as AVAILABLE_LANGUAGES %}
                            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                            <div class="nav-item dropdown">
                                <a class="nav-link" href="#" id="languageDropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{% static 'rivercureportal/icons/'|add:CURRENT_LANGUAGE|add:'-flag.png' %}" class="language-circle" alt="Language Icon"> 
                                </a>
                                <div class="dropdown-menu" aria-labelledby="languageDropdownMenuButton">
                                    {% for language in languages %}
                                        <a class="dropdown-item" href="/{{ language.code }}/">
                                            <img src="{% static 'rivercureportal/icons/'|add:language.code|add:'-flag.png' %}" class="language-circle mx-2" alt="Language Icon"> 
                                            {{language.name_local}}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% else %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mx-3">
            {% comment %} <h1 class="m-0">Public Contexts</h1> {% endcomment %}

            <!-- Tab buttons -->
            <ul class="nav nav-pills">
                <li class="nav-item mr-2">
                    <a class="nav-link {% is_active request.get_full_path 'map' %}" id="map-tab-button" data-toggle="tab" href="#map-view" role="tab" aria-controls="map-view" aria-selected="true" onclick="hideGridSearchForm()"><i class="bi bi-map"></i> {% trans "Map" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% is_active request.get_full_path 'grid' %}" id="grid-tab-button" data-toggle="tab" href="#grid-view" role="tab" aria-controls="grid-view" aria-selected="true" onclick="showGridSearchForm()"><i class="bi bi-grid-3x3-gap"></i> {% trans "Grid" %}</a>
                </li>
            </ul>

            <!-- Grid search form -->
            <form method="get" class="form-inline {% is_hidden request.get_full_path %}" id="grid-search-form">

                <div class="dropdown">
                    <!-- Toggle -->
                    <button class="btn btn-primary dropdown-toggle ml-2" type="button" id="dropdownFilterMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-sliders2"></i>
                    </button>

                    <div class="dropdown-menu p-3" aria-labelledby="dropdownFilterMenuButton" onclick="event.stopPropagation()">
                        <!-- Organization -->
                        <div class="form-group mb-3">
                            <label for="organization" class="mb-2">Organization</label>
                            {{filter.form.organization}}
                        </div>
                    </div>
                </div>

                <div class="form-row ml-2">
                    <!-- Context Name -->
                    <div class="form-group">
                        {{filter.form.Name}}
                    </div>

                    <!-- Search -->
                    <button type="submit" class="btn btn-primary ml-2"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>

        <!-- Tab views -->
        <div class="tab-content" id="publicContextsTabs">
            <!-- Map -->
            <div class="tab-pane fade {% is_show request.get_full_path 'map' %} {% is_active request.get_full_path 'map' %} mt-3" id="map-view" role="tabpanel" aria-labelledby="map-view-tab">
                <div id="map-container">
                    {% leaflet_map "my_map" %}
                </div>
            </div>

            <!-- Grid -->
            <div class="tab-pane fade {% is_show request.get_full_path 'grid' %} {% is_active request.get_full_path 'grid' %}" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">

                <div class="d-flex flex-row flex-wrap justify-content-around m-3">
                    {% for context in public_contexts %}
                        <div class="card mb-4" style="width: 26rem;">
                            <img src="{{ context.picture.url }}" class="card-img-top my-card-img" alt="...">
                            {% comment %} <div class="card-img-overlay">
                                <p class="card-text text-white observations-circle"><i class="bi bi-binoculars"></i> {{ context.e_contextcontribution_set|get_accepted }}</p>
                            </div> {% endcomment %}
                            <div class="card-body">
                                <h5 class="card-title">{{context.Name}}</h5>
                                <p class="text-muted"><i class="bi bi-binoculars"></i> {{ context.e_contextcontribution_set|get_accepted }}</p>
                                <div class="d-flex">
                                    <a href="{% url 'contribution-create' context.code %}" class="btn btn-info btn-block mr-2"><i class="bi bi-upload"></i> {% trans "Contribute" %}</a>
                                    <a href="{% url 'public-context-detail' context.code %}" class="btn btn-info btn-block mt-0"><i class="bi bi-info-circle"></i> {% trans "Details" %}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </div>

        <!-- Footer -->
        <div class="footer p-4">
            <div class="d-flex justify-content-center">
                <p class="m-0">
                    <a href="{% url 'contact' %}" class="text-light">{% trans "Contact" %}</a> |
                    <a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank" class="text-light"> Wiki</a> |
                    <a href="{% url 'rivercure-about' %}"  class="text-light">{% trans "About" %}</a>
                </p>
            </div>
            {% comment %} <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link px-2 text-light">{% trans "Contact" %}</a></li>
                <li class="nav-item"><a href="https://rivercure.notion.site/16c3e86b02a24ce093567de41fb6b6d7" target="_blank" class="nav-link px-2 text-light">Wiki</a></li>
                <li class="nav-item"><a href="{% url 'rivercure-about' %}" class="nav-link px-2 text-light">{% trans "About" %}</a></li>
            </ul> {% endcomment %}
            {% comment %} <div class="d-flex justify-content-between align-items-center">
                <img src="{% static '/rivercureportal/logos/2022_FCT_Logo_B_horizontal_branco.png' %}" class="" style="width: 18rem;" alt="FCT Logo">
                <img src="{% static '/rivercureportal/logos/IST_A_RGB_NEG.png' %}" class="" style="width: 18rem;" alt="IST Logo">
                <img src="{% static '/rivercureportal/logos/INESC-ID-new-logo_version-01B.png' %}" class="" style="width: 14rem;" alt="INESC Logo">
                <img src="{% static '/rivercureportal/logos/lnec-logo-png-transparent.png' %}" class="" style="width: 12rem;" alt="LNEC Logo">
            </div> {% endcomment %}
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
