{% extends "rivercureportal/base.html" %}
{% block title %} Context sensor list {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />
{% endblock %}

{% block content %}

<style>
    th {
        cursor: pointer;
    }

    th:hover {
        background: #eee;
    }
</style>

<h1><a href="{% url 'context-detail' context.code %}"> {{ context.Name }}</a> Sensors</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <tr>
                <th class="tr_class" scope="col">Organization</th>
                <th class="tr_class" scope="col">Code</th>
                <th class="tr_class" scope="col">Name</th>
                <th class="tr_class" scope="col">Sensor class</th>
                <th class="tr_class" scope="col">Observations</th>
            </tr>
            {% for context_sensor in filter.qs %}
            <tr>
                <td>{{ context_sensor.sensor.organization }}</td>
                <td>{{ context_sensor.sensor.code }}</td>
                <td>
                <a href="{% url 'sensor-detail' context_sensor.sensor.pk %}">
                    <div style="height: 100%; width: 100%">{{ context_sensor.sensor.name }}</div>
                </a>
                </td>
                <td><a href="{% url 'sensor-class-detail' context_sensor.sensor.sensorClass.pk %}">{{ context_sensor.sensor.sensorClass.name }}</a></td>
                <td class="tr_class">
                    <a href="{% url 'sensor-observation-list' context_sensor.sensor.pk %}"> <img src="{% static 'sensors/sensor-images/data.png' %}" width="30" height="30" alt="observations" /></a>
                </td>
            </tr>
            {% empty %}
            <td><h2 class="text-secondary font-italic no-context-data">No available sensors</h2></td>
            {% endfor %}
        </table>
    </div>

    <div class="filter-section col-md-3">
        <h5>Filter</h5>
        <form method="get">
            {{ filter.form |crispy }}
            <button type="submit" class="btn btn-info">Filter</button>
        </form>
    </div>

    <div class="w-100">
        <a type="button" class="btn btn-info" href="{% url 'context-list' %}">All Contexts</a>
        <a type="button" class="btn btn-info" href="{% url 'sensor-list' %}">All Sensors</a>
        <a type="button" class="btn btn-secondary" style="float:right;" href="{% url 'context-detail' context.code %}">Back to context detail</a>
    </div>
</div>

<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) => (v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)))(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

    document.querySelectorAll('th').forEach((th) =>
        th.addEventListener('click', () => {
        const table = th.closest('table');
        Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), (this.asc = !this.asc)))
            .forEach((tr) => table.appendChild(tr));
        })
    );
</script>

{% endblock content %}
