{% extends "rivercureportal/base.html" %}
{% load i18n %}
{% block title %} {% trans "Context Detail" %} {% endblock %}
{% load leaflet_tags %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}

{% leaflet_js plugins="ALL" %}
{% leaflet_css plugins="ALL" %}
<script src="https://unpkg.com/georaster"></script>
<script src="https://unpkg.com/proj4"></script>
<script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
<script src="https://unpkg.com/chroma-js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}">
<script type='text/javascript' src={% static 'context/js/context.js' %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'context/LeafletClustering/MarkerCluster.Default.css' %}">
<script src="{% static 'context/LeafletClustering/leaflet.markercluster.js' %}"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

<style>
    html {
        scroll-behavior: smooth;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        window.addEventListener("map:init", e => {
            const map = e.detail.map;   
            map.addControl(new L.Control.Fullscreen()); //add control to enable fullscreen
            
            MyFunctions.mode = 'view';
            MyFunctions.showMousePosition();
            MyFunctions.mouseMove(map, 'view');
            //visual tools
            map.on('dragstart', e => {
                e.target._container.style.cursor = 'grab';
            });
            map.on('dragend', e => {
                e.target._container.style.cursor = 'pointer';
            });
            MyFunctions.drawSensors(map, loadSensors());
            MyFunctions.domainMarkers = L.markerClusterGroup();
            MyFunctions.domainMarkers.addTo(map);
            map.layerscontrol.addOverlay(MyFunctions.domainMarkers, "Domain markers");
            MyFunctions.domainMarkers.bindTooltip("Boundary Line Point");
            MyFunctions.polygonsInit(map); //init the polygon storing system
            MyFunctions.boundariesInit(map); //init the boundaries variables

            MyFunctions.getContext('{{ api }}' + '{{ context.code }}', map);
        });

        loadSensors = () => {
            var sensors = [], sensor;
            '{% for sensor in sensors %}'
                sensor = {
                    id: '{{ sensor.id }}',
                    code: '{{ sensor.code }}',
                    name: '{{ sensor.name }}', 
                    modality: '{{ sensor.sensorClass.get_modality_display }}',
                    category: '{{ sensor.sensorClass.category }}',
                    organization: '{{ sensor.organization }}',
                    sensorClass: '{{ sensor.sensorClass.name }}',
                    geom: '{{ sensor.local }}',
                    can_add_to_context: '{{ sensor.can_add_to_context }}'
                };
                sensors.push(sensor)
            '{% endfor %}'
            return sensors;
        }  

        showGeometriesUploadDiv = (state) => {
            document.querySelector('#geometriesUploadDiv').style.display = state;

            if(state == "block") {
                window.scrollBy(0, 600);
            }
        }

        requestMesh = async () => {
            const request = new XMLHttpRequest();
            const url = "{% url 'mesh-status-request' context.code %}";
            request.open("GET", url);
            setTimeout (() => {
                request.send();
                request.onreadystatechange = e => {
                    if(request.status == 200)
                        location.reload(true);
                }
                requestMesh(request);
            }, 5000);
        }

        if("{{ context.hasMesh }}" == "False") { //check if mesh exists
            requestMesh();
        }
    });
</script>

{% endblock %}

{% block content %}

<h1>{{ context.Name }} </h1>
<p><strong>{% trans "Organization" %}:</strong> {{ context.organization.name }}</p>
<article class="media content-section">
    <div class="media-body">
        <div id="map-container" class="container">
            {% leaflet_map "my_map" %}
        </div>

        <div class="px-4">
            {% if belongsToOrg %}
            <a class="btn btn-info mt-1 mb-1" href="{% url 'event-list' context.code %}">Events</a>
            <a class="btn btn-info mt-1 mb-1" href="{% url 'context-sensor-list' context.code %}">Sensors</a>
                <a class="btn btn-info mt-1 mb-1" href="{% url 'moderator-list' context.code %}">Moderators</a>
            {% endif %}
        </div>

        <div class="px-4">
            {% if canEdit %}
                <a class="btn btn-primary mt-1 mb-1" href="{% url 'context-update' context.code %}">Edit</a>
                <button class="btn btn-primary mt-1 mb-1" href="#" onclick="showGeometriesUploadDiv('block')">Geo Edit</button>  
                <a class="btn btn-dark mt-1 mb-1" href="{% url 'download_context' context.code %}" >Download</a>
                <a class="btn btn-danger mt-1 mb-1" href="{% url 'context-delete' context.code %}">Delete</a>
            {% endif %}
        </div>

        <div class="m-2"></div>
        
        {% if context.hasMesh %}
            {% if canEdit %}
                <a class="btn btn-secondary mt-1 mb-1" href="{% url 'context-preprocessing-request' context.code %}">Regenerate Mesh</a> 
            {% endif %}
            {% comment %} <a class="btn btn-info mt-1 mb-1" href="{% url 'context-preprocessing-results' %}" target='_blank'>View Mesh</a>  {% endcomment %}
            <a class="btn btn-info mt-1 mb-1" href="{% url 'context-preprocessing-results-download' context.code %}" target='_blank'>Download Mesh</a> 
        {% else %}
            {% if canEdit %}
                {% if context.task_id %}
                    <a class="btn btn-secondary mt-1 mb-1" href="{% url 'mesh-regenerate-confirm' context.code %}">Regenerate Mesh</a>
                {% else %}
                    <a class="btn btn-success mt-1 mb-1" href="{% url 'context-preprocessing-request' context.code %}">Generate Mesh</a>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if context.task_id and canEdit %}
            <a class="btn btn-warning mt-1 mb-1" href="{% url 'mesh-status' context.code %}">Progress</a>
            <a class="btn btn-danger mt-1 mb-1" href="{% url 'mesh-cancel-confirm' context.code %}">Cancel Mesh</a> 
        {% endif %}
            
        {% if belongsToOrg %}
            <a class="btn btn-secondary" href="{% url 'context-list' %}" style="float:right">See Organization Context list</a>
        {% endif %}
    </div>
</article>

<div id="geometriesUploadDiv" class="container" style="display: none">
    <h2>Files upload</h2>
    <div id="form-data" class="content-section">
        <h3>These files are already in the server:</h3>
        <ul>
            {% if context.domain_file_name %}<li>{{ context.domain_file_name }}</li>{% endif %}
            {% if context.alignments_file_name %}<li>{{ context.alignments_file_name }}</li>{% endif %}
            {% if context.refinements_file_name %}<li>{{ context.refinements_file_name }}</li>{% endif %}
            {% if context.boundaries_file_name %}<li>{{ context.boundaries_file_name }}</li>{% endif %}
            {% if context.dtm_file_name %}<li>{{ context.dtm_file_name }}</li>{% endif %}
            {% if context.frictionCoeff_file_name %}<li>{{ context.frictionCoeff_file_name }}</li>{% endif %}
        </ul>
        <form method='POST' enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button id="submit-btn" class="btn btn-info" type="submit" formaction="{% url 'context_upload' context.code %}?value=finished">Upload</button>
                <button id="submit-btn" class="btn btn-dark" type="submit" formaction="{% url 'context_upload' context.code %}?value=continue">Upload & define manually</button>
                <a class="btn btn-info" href="{% url 'context_manage' context.code %}">Define manually</a>
                <a class="btn btn-secondary" href="#" onclick="showGeometriesUploadDiv('none')" style="float:right">Close</a>
            </div>
        </form>
    </div>

    <script>
        document.querySelector('#id_code').value = '{{ context.code }}';
    </script>
</div>


<div class="d-flex justify-content-between align-items-center flex-wrap my-contribution-detail-meta-info-card my-contribution-detail-footer my-2 p-3">
    <!-- Bottom button -->
    <a class="btn btn-secondary" href="{% url 'public-context-detail' context.code %}">{% trans "See Public Context" %}</a>
</div>

{% endblock content %}



