{% extends "rivercureportal/base.html" %}
{% block title %} Context list {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% load auth_extras %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

{% endblock %}

{% block content %}

<style>
    th {
        cursor: pointer;
    }

    th:hover {
        background: #eee;
    }

    th .tr_align {
        text-align: left;
    }
</style>

<h1>Contexts of organization {{ request.session.organizationName }}</h1>
<div class="filter-section">
    <h5>Filter</h5>
    <form method="get">
        {{ filter.form |crispy }}
        <button type="submit" class="btn btn-info">Filter</button>
    </form>
</div>

<div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <tr>
                <th class="tr_align" scope="col">Context</th>
                <th class="tr_align" scope="col">Hydrofeature</th>
                <th class="tr_align" scope="col">Privacy</th>
            </tr>
            {% for context in contexts %}
            <tr>
                <td>
                    <a href="{% url 'context-detail' context.code %}">
                        <div style="height: 100%; width: 100%">{{ context.Name }}</div>
                    </a>
                </td>
                <td>{{ context.hydroFeature }}</td>
                <td>{{ context.isPublic|yesno:"Public,Private" }}</td>
            </tr>
            {% empty %}
            <td><h3 class="text-secondary font-italic no-context-data">No contexts available!</h3></td>
            {% endfor %}
        </table>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<div class="mt-3 mb-2">
    {% if permission_to_add %}
        <a class="btn btn-info ml-0 mt-3" href="{% url 'context-create' %}">Add context</a>
    {% endif %}

    <a class="btn btn-secondary ml-0 mt-3" href="{% url 'other-contexts'  %}">Other contexts</a>
</div>

<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) => (v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)))(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

    document.querySelectorAll('th').forEach((th) =>
        th.addEventListener('click', () => {
        const table = th.closest('table');
        Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), (this.asc = !this.asc)))
            .forEach((tr) => table.appendChild(tr));
        })
    );
</script>

{% endblock content %}
