{% extends "rivercureportal/base.html" %}
{% block title %} {{ context.Name }} {% endblock %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

{% endblock %}



{% block content %}

<style>
    /* For the horizontal scroll carousel */
    .scrolling-wrapper{
        overflow-x: auto;
    }
</style>




<!-- Presentation about Context (photo, introduction, see more, ...)-->
<h1>{{ context.Name }} </h1>
<p><strong>{% trans "Organization" %}:</strong> <em>{{ context.organization }}</em></p>
<hr>

<div class="card" style="border: 0.05rem solid rgba(0, 0, 0, 0.125);">
    <img src="{{ context.picture.url }}" class="card-img-top my-card-public-context-detail-img" alt="Context Picture">
    <div class="card-body">
        <p class="card-text">{{ context.description }}</p>
        <hr>
        <a class="btn btn-info" href="{% url 'contribution-create' context.code %}"><i class="bi bi-upload"></i> {% trans "Contribute" %}</a>
        <div class="float-right">
            <a class="btn btn-info" href="{% url 'context-detail' context.code %}"><i class="bi bi-info-circle"></i> {% trans "Details" %}</a>
        </div>
    </div>
</div>




<!-- Contribution list -->
<!-- From: https://codepen.io/Temmio/pen/gKGEYV -->
<div class="container-fluid pt-3 mt-4">
    <div class="row">
        <div class="col-10">
            <h1 class="">{% trans "Contributions" %}</h1>
        </div>
        <div class="col-2 text-right my-auto">
            <a class="btn btn-secondary" href="{% url 'contribution-list' context.code %}">{% trans "See more" %} <i class="bi bi-chevron-right"></i></a>
        </div>
    </div>
    {% if contributions.count == 0 %}
        <p class="font-weight-light my-2 text-center">{% trans "There are no Contributions for this Context yet. Why don't you make one?" %}</p>
    {% endif %}

    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
        {% for contribution in contributions|slice:":5" %}
            <div class="col-4">
                <a href="{% url 'contribution-detail' contribution.pk %}">
                    <div class="card my-card-hover">
                        {% if contribution.thumbnail %}
                            <img src="{{MEDIA_URL}}{{contribution.thumbnail}}" class="my-card-contribution-thumbnail-img" alt="Contribution thumbnail">
                        {% else %}
                            <div class="my-card-contribution-no-thumbnail-img"></div> <!-- TODO: Remove this -->
                        {% endif %}
                        <img src="{{MEDIA_URL}}{{contribution.createdBy.profile.image}}" class="my-card-user-image" alt="User profile image">
                        <div class="card-body pt-0" style="margin-top: -10px;">
                            <h5 class="card-title">{{ contribution.situationObserved|title }}</h5>
                            <small class="text-body-secondary card-contributions text-muted">{% trans "Submitted on" %} {{ contribution.creationDateTime }}</small>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

</div>
{% if contributions.count != 0 %}
<div class="mb-3 text-center">
    <p class="d-inline font-weight-lighter"><i class="bi bi-info"></i> {% trans "Scroll horizontally to see more" %}</p>
</div>
{% endif %}

{% comment %} <!-- Challenge List -->
<div class="container-fluid mt-5">
    <!-- Header -->
    <div class="d-flex justify-content-between">
        <h1 class="m-0">{% trans "Challenges" %}</h1>

        <div class="d-flex">
            {% if is_admin or is_context_event_man %}
            <a class="btn btn-success my-2" href="{% url 'challenge-context-create' context.code %}"><i class="bi bi-plus"></i> {% trans "Add Challenge" %}</i></a>
            {% endif %}
            <a class="btn btn-secondary m-2" href="#">{% trans "See more" %} <i class="bi bi-chevron-right"></i></a>
        </div>
    </div>

    <!-- List -->
    {% if challenges.count == 0 %}
        <p class="font-weight-light my-2 text-center">{% trans "There are no Challenges for this Context." %}</p>
    {% endif %}

    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
        {% for challenge in challenges|slice:":5" %}
            <div class="col-4">
                <a href="{% url 'challenge-detail' challenge.id %}">
                    <div class="card my-card-hover">
                        <div class="card-body">
                            <h5 class="card-title">{{ challenge.title }}</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary text-muted">{% trans "Opened on" %} {{ challenge.open_datetime }}</small>
                        </div>            
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div> {% endcomment %}


<!-- Event list -->
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-10">
            <h1 class="">{% trans "Events" %}</h1>
        </div>
        <div class="col-2 text-center my-auto">
            <a class="btn btn-secondary" href="{% url 'event-list' context.code %}">{% trans "See more" %} <i class="bi bi-chevron-right"></i></a>
        </div>
    </div>
    {% if events.count == 0 %}
        <p class="font-weight-light my-2 text-center">{% trans "There are no Events for this Context." %}</p>
    {% endif %}

    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
        {% for event in events|slice:":5" %}
            <div class="col-4">
                <a href="{% url 'event-detail' event.context.code event.id %}">
                    <div class="card my-card-hover">
                        {% comment %} <img src="" class="card-img-top" alt="Contribution image"> {% endcomment %}
                        <div class="card-body">
                            <h5 class="card-title">{{ event.Name }}</h5>
                            <p class="card-text text-muted">{{ event.type|title }} {% if event.subtype is not None %}- {{ event.subtype|title }} {% endif %}</p>
                        </div>
                        <div class="card-footer">
                            {% comment %} <small class="text-body-secondary text-muted">{{ event.state }}</small> {% endcomment %}
                            <small class="text-body-secondary text-muted">{% trans "Started on" %} {{ event.startDate }}</small>
                        </div>            
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

</div>
{% if events.count != 0 %}
<div class="mb-3 text-center">
    <p class="d-inline font-weight-lighter"><i class="bi bi-info"></i> {% trans "Scroll horizontally to see more" %}</p>
</div>
{% endif %}



<!-- Bottom button -->
<a class="btn btn-secondary mb-3" style="float: right;" href="{% url 'public-contexts' %}">{% trans "Back to Home" %}</a>

{% endblock content %}