{% extends "rivercureportal/base.html" %}
{% block title %} Other contexts {% endblock %}
{% load auth_extras %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

{% endblock %}

{% block content %}

<style>
    th {
        cursor: pointer;
    }

    th:hover {
        background: #eee;
    }

    th .tr_align {
        text-align: left;
    }
</style>

<h1>Public contexts</h1>
<h5 class="font-weight-light">Here are the contexts that are publicly available.</h5>
<div class="filter-section">
    <h5>Filter</h5>
    <form method="get">
        {{ filter.form |crispy }}
        <button type="submit" class="btn btn-info">Filter</button>
    </form>
</div>

<div class="context-cards-container">
    {% for context in filter.qs %}
    <div class="context-card-container">
        <!-- TODO: Add image -->
        <!-- <img src={{ context.photo }} alt=""> -->
        <div class="card-detail">
            <h3>{{ context.Name }}</h3>
            <p><i>{{ context.hydroFeature }}</i></p>
            <!-- TODO: Add nr of contributions-->
            <p>Contributions: </p>
        </div>
    </div>
    {% endfor %}
</div>

<!--
<div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <tr>
                <th class="tr_align" scope="col">Organization</th>
                <th class="tr_align" scope="col">Context</th>
                <th class="tr_align" scope="col">Hydrofeature</th>
                <th class="tr_align" width="200%" scope="col"></th>
            </tr>

            {% for context in filter.qs %}
                <tr>
                    <td>{{ context.organization }}</td>
                    <td>
                        <a href="{% url 'context-detail' context.code %}"><div style="height: 100%; width: 100%">{{ context.Name }}</div> </a>
                    </td>
                    <td>{{ context.hydroFeature }}</td>
                </tr>
                {% empty %}
                <td><h3 class="text-secondary font-italic no-context-data">No public contexts!</h3></td>
            {% endfor %}
        </table>
    </div>
</div>
-->


<script>
const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
const comparer = (idx, asc) => (a, b) => ((v1, v2) => (v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)))(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));


document.querySelectorAll('th').forEach((th) =>
    th.addEventListener('click', () => {
    const table = th.closest('table');
    Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
        .sort(comparer(Array.from(th.parentNode.children).indexOf(th), (this.asc = !this.asc)))
        .forEach((tr) => table.appendChild(tr));
    })
);

</script>

{% endblock content %}
