{% extends "rivercureportal/base.html" %}
{% block title %} Public Contexts {% endblock %}
{% load auth_extras %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load static %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'context/css/style.css' %}" />

{% endblock %}

{% block content %}

<style>
    th {
        cursor: pointer;
    }

    th:hover {
        background: #eee;
    }

    th .tr_align {
        text-align: left;
    }
</style>

<!-- Header -->
<h1>Public contexts</h1>
<h5 class="font-weight-light">Here are the contexts that are publicly available.</h5>
<hr>

<!-- Filter -->
<!-- TODO: Apply Bootstrap's grid system -->
<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#filter-menu">Search and Filter</button>
<div id="filter-menu" class="collapse card card-body">
    <form method="get">
        {{ filter.form |crispy }}
        <button type="submit" class="btn btn-outline-info">Apply</button>
    </form>
</div>
<hr>

<!-- List of Public Contexts-->
<!-- TODO: Apply Bootstrap's grid system -->
<div class="row row-cols-3">
    {% for context in public_contexts %} <!-- TODO: Not filter.qs (instead of public_contexts)? -->
        <div class="col">
            <a href="{% url 'public-context-detail' context.code %}">
                <div class="card public-context-card" style="width: 18rem;">
                    <img src={{ context.picture.url }} class="card-img-top" alt="Picture of Context">
                    <div class="card-body">
                        <h5 class="card-title">{{ context.Name }}</h5>
                        <h6 class="card-text"><em>{{ context.hydroFeature }}</em></h6>
                    </div>    
                    <ul class="list-group list-group-flush">
                        <p class="list-group-item card-text card-contributions">Contributions: {{ context.e_contextcontribution_set|get_accepted }}</p> <!-- TODO: Show only Accepted contributions-->
                    </ul>        
                </div>
            </a>
        </div>
    {% endfor %}
</div>
<!-- If list is empty -->
{% if public_contexts.count == 0 %}
    <p class="font-weight-light my-2 text-center">There are no Public Contexts yet.</p>
{% endif %}

<!-- Pagination -->
<!-- TODO: Apply Bootstrap's grid system -->
<div class="row">
    <div class="col">
        {% if is_paginated %}
            <nav aria-label="Page navigation" class="d-flex justify-content-center pt-3">
                <ul class="pagination">
                    {% if page_obj.has_previous and page_obj.number != 2 %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' 1 %}" tabindex="-1" aria-disabled="true">First Page</a></li>
                    {% endif %}

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
                    
                    <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
                    {% endif %}

                    {% if page_obj.paginator.num_pages != page_obj.number and page_obj.paginator.num_pages != page_obj.next_page_number %}
                        <li class="page-item"><a class="page-link text-dark" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">Last Page</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>

<!-- Cards are not Bootstrap
<div class="context-cards-container">
    {% for context in filter.qs %}
    <div class="context-card-container">
        <img src={{ context.picture.url }} alt="Picture of Context">
        <div class="card-detail">
            <h3>{{ context.Name }}</h3>
            <p><i>{{ context.hydroFeature }}</i></p>
            TODO: Add nr of contribution
            <p>Contributions: </p>
        </div>
    </div>
    {% endfor %}
</div>
-->

<!-- Old filtering section
<div class="filter-section">
    <h5>Filter</h5>
    <form method="get">
        {{ filter.form |crispy }}
        <button type="submit" class="btn btn-info">Filter</button>
    </form>
</div>
-->

<!-- Old context list
<div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <tr>
                <th class="tr_align" scope="col">Organization</th>
                <th class="tr_align" scope="col">Context</th>
                <th class="tr_align" scope="col">Hydrofeature</th>
                <th class="tr_align" width="200%" scope="col"></th>
            </tr>

            {% for context in filter.qs %}
                <tr>
                    <td>{{ context.organization }}</td>
                    <td>
                        <a href="{% url 'context-detail' context.code %}"><div style="height: 100%; width: 100%">{{ context.Name }}</div> </a>
                    </td>
                    <td>{{ context.hydroFeature }}</td>
                </tr>
                {% empty %}
                <td><h3 class="text-secondary font-italic no-context-data">No public contexts!</h3></td>
            {% endfor %}
        </table>
    </div>
</div>
-->

<!-- TODO: What is this? -->
<script>
const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
const comparer = (idx, asc) => (a, b) => ((v1, v2) => (v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)))(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));


document.querySelectorAll('th').forEach((th) =>
    th.addEventListener('click', () => {
    const table = th.closest('table');
    Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
        .sort(comparer(Array.from(th.parentNode.children).indexOf(th), (this.asc = !this.asc)))
        .forEach((tr) => table.appendChild(tr));
    })
);

</script>

{% endblock content %}
