{% extends "rivercureportal/base.html" %}
{% block title %} {{ context.Name }} {% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    /* For the horizontal scroll carousel */
    .scrolling-wrapper{
        overflow-x: auto;
    }
</style>


<h1>{{ context.Name }} </h1>

<!-- Presentation about Context (photo, introduction, see more, ...)-->
<div class="media content-section">
    <div class="row">
        <div class="col-4">
            <div class="media-left">
                <img src="{{ context.picture.url }}" class="media-object img-fluid" alt="Context Picture"> <!-- TODO: Resize -->
            </div>
        </div>
        <div class="col-8">
            <div class="media-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis dui lobortis risus scelerisque hendrerit at eget ligula. Cras varius ex nec ornare cursus. Fusce sed orci suscipit, cursus leo ac, viverra ligula. Morbi luctus ipsum eu imperdiet iaculis. Etiam eget magna mauris. Nam mattis condimentum dui, eu scelerisque arcu. Integer consequat ante et pellentesque sagittis. Proin tempor pretium purus ut blandit. Etiam sapien dolor, dictum vitae posuere eget, sagittis in nibh. Morbi eget ipsum porta est accumsan fermentum. Vestibulum tempor lorem sed condimentum sodales. Nullam vitae mauris orci. Praesent ullamcorper turpis lorem, vitae sollicitudin diam imperdiet quis.</p>
                <p><em>{{ context.hydroFeature }}</em></p>
                {% comment %} <a href="{% url 'hydrofeature-detail' context.hydroFeature.pk %}"><em>{{ context.hydroFeature }}</em></a> {% endcomment %}
                <a class="btn btn-primary" href="{% url 'contribution-create' %}">Contribute</a>
                <a class="btn btn-info" href="{% url 'context-detail' context.code %}">See details</a>
            </div>
        </div>
    </div>
</div>

<!-- From: https://codepen.io/Temmio/pen/gKGEYV -->
<!-- Contribution list -->
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-10">
            <h2 class="">Contributions</h2>
        </div>
        <div class="col-2 text-center my-auto">
            <a class="btn btn-secondary" href="{% url 'contribution-list' context.code %}">See more</a>
        </div>
    </div>
    <p class="subtitle">Most recent contributions.</p>

    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
        {% for contribution in contributions|slice:":5" %}
            <div class="col-4">
                <div class="card contribution-card">
                    <img src="" class="card-img-top" alt="Contribution image">
                    <div class="card-body">
                        <h5 class="card-title">{{ contribution.situationObserved|title }}</h5>
                        <p class="card-text">By: {{ contribution.createdBy }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Posted on {{ contribution.creationDateTime }}</small>
                    </div>            
                </div>
            </div>
        {% endfor %}
    </div>

</div>

<!-- Event list -->
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-10">
            <h2 class="">Events</h2>
        </div>
        <div class="col-2 text-center my-auto">
            <a class="btn btn-secondary" href="{% url 'event-list' context.code %}">See more</a>
        </div>
    </div>
    <p class="subtitle">Most recent events.</p>

    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
        <!-- TODO: Change to events -->
        {% for event in events|slice:":5" %}
            <div class="col-4">
                <div class="card contribution-card">
                    {% comment %} <img src="" class="card-img-top" alt="Contribution image"> {% endcomment %}
                    <div class="card-body">
                        <h5 class="card-title">{{ event.Name }}</h5>
                        <p class="card-text">{{ event.type|title }}</p>
                        <p class="card-text">{{ event.state|title }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Started on {{ event.startDate }}</small>
                    </div>            
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}