{% extends "rivercureportal/base.html" %}
{% block title %} Regenerate mesh {% endblock %}
{% load static %}

{% block content %}

<h1>Confirm regeneration of event '{{ event.Name }}'</a></h1>

<div>
    <h2>A simulation run for this event is already on the way.</h2>
    <p>Are you sure you want to re-run the simulation for this event?</p>
    <div>
        <a class="btn btn-secondary mt-1 mb-1" href="{% url 'event-detail' event.context.code event.id %}">No</a>
        <a class="btn btn-success mt-1 mb-1" href="{% url 'event-run' event.context.code event.id %}">Yes</a>
    </div>
</div>

{% endblock content %}
